<ngx-simplebar>
  <!-- style="overflow-y: scroll; height: 420px" -->
  <div class="px-3">
    <div class="d-flex row">
      <div class="col-lg-6">
        <div class="card card-body question-card" style="height: 62vh">
          <div class="text-primary d-flex justify-content-between">
            <span class="fw-bold py-lg-2"
              >Question {{ currentQuestionNumber + 1 }}</span
            >
            <!-- <app-revisit-button
              [questionNumber]="currentQuestionNumber"
            ></app-revisit-button> -->
          </div>
          <ngx-simplebar class="scroll-height" style="height: 45vh; overflow-x: hidden;">
            <span class="mt-3" [innerHtml]="this.getCurrentQuestion().passage_stimulus">
              <!-- {{ }} -->
            </span>
            <span class="mt-3" [innerHtml]="this.getCurrentQuestion().stimulus">
              <!-- {{ }} -->
            </span>
          </ngx-simplebar>
          <div class="d-flex justify-content-end">
            <app-calculator></app-calculator>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="card" style="height: 62vh">
          <div class="">
            <!-- <div class="d-flex justify-content-between">
              <h5 class="card-title mb-4 text-start">Answer</h5>
              <app-reset-button></app-reset-button>
            </div> -->

            <div class="mb-3">
              <div class="row">
                <div class="col-lg-12">
                  <div class="mt-1">
                    <div class="card-header border-bottom-dashed p-2">
                      <div class="d-flex justify-content-between">
                        <h5 class="card-title mb-0 text-start text-primary">
                          Answer
                        </h5>
                        <!-- <app-reset-button></app-reset-button> -->

                        <app-revisit-button
                        [questionNumber]="currentQuestionNumber"
                      ></app-revisit-button>
                      </div>
                    </div>
                    <ngx-simplebar style="height: 48vh; max-width:100%; overflow-x: hidden;">
                      <div class="mb-3">
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="">
                              <div
                                class="card-body px-3"
                                style="overflow-y: auto; max-height: 30%"
                              >
                                <ng-container
                                  *ngFor="
                                    let option of getCurrentQuestion().options;
                                    let i = index
                                  "
                                >
                                  <div
                                    style="
                                      padding: 0.4rem !important;
                                      margin-bottom: 0.4rem !important;
                                    "
                                    class="d-flex card-animate card  border-2 border-light "
                                    (click)="optionSelected(option.value)"
                                  >
                                    <div class="d-flex">
                                      <span class="mx-2 fw-semibold">
                                        {{ alphabetList[i].toLowerCase() }}
                                      </span>

                                      <div class="form-check">
                                        <input
                                          class="form-check-input"
                                          [checked]="
                                            this.getCurrentQuestion()
                                              .responses[0] == option.value
                                          "
                                          type="radio"
                                          value="{{ option.value }}"
                                          name="q"
                                          (click)="optionSelected(option.value)"
                                        />
                                        <span
                                          style="cursor: pointer"
                                          (click)="optionSelected(option.value)"
                                          [innerHTML]="option.label"
                                        >
                                        </span>
                                      </div>
                                    </div>
                                  </div>
                                </ng-container>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ngx-simplebar>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ngx-simplebar>
