<div class="row mb-4">
  <div class="col-lg-4 col-sm-12">
    <div class="d-flex gap-2 align-items-center">
      <button type="button" class="btn btn-outline-info" (click)="back()">
        <i class="ri-arrow-left-line align-middle me-2"></i>Back
      </button>
      <h4 class="title">
        Preview Passage
      </h4>
    </div>
  </div>
  <div class="col-lg-8 col-sm-12 d-flex justify-content-end float-end" *ngIf="passageTrail">
    <div class="d-flex flex-row mx-2">
      <span class="d-flex align-items-center text-muted" ngbTooltip="SUBJECT">
        {{ passageTrail.subjectName.toUpperCase() }}
      </span>
      <span class="d-flex align-items-center text-muted" *ngIf="passageTrail.topicName" ngbTooltip="TOPIC">
        <i class="ri-arrow-right-s-line"></i>{{ passageTrail.topicName.toUpperCase() }}</span>
    </div>
  </div>
</div>

<div class="card">

  <div class="card-body">
    <!-- <div class="d-flex justify-content-between">
      <h4>{{ previewData.reference ? previewData.reference : 'Preview' }}</h4>
      <div class="d-flex flex-wrap">
        <button
          type="button"
          class="btn btn-sm btn-primary float-end"
          (click)="edit()"
          *ngIf="showEditBtnInProfileActivitiesPassagePreview"
        >
          <i class="ri-pencil-line label-icon align-middle fs-14 me-2"></i>Edit
        </button>
      </div>
    </div>
    <hr /> -->

    <div class="row">
      <div class="col-xxl-12 col-lg-12 col-md-12 col-sm-12">
        <div [innerHTML]="previewData.stimulus | htmlSanitizer">
          {{ previewData.stimulus | htmlSanitizer }}
        </div>
      </div>
    </div>

    <!-- <div class="row">
      <div>
        <editor
          [init]="{
            height: 700,
            menubar: true}"
          initialValue=""
        ></editor>
      </div>
    </div> -->
  </div>
</div>