<div>

  <!--Logo upload-->
  <div class="mb-3">
    <label class="form-label">
      Logo<span class=""
        ngbPopover="upload the company logo. Images will be resized to 250 x 100, if the provided logo is above."
        placement="right" triggers="mouseenter:mouseleave"><i
          class="ri-question-fill align-middle me-2 mx-2"></i></span><span
        style="font-size: x-small; color: rgb(225, 111, 111);">Maximum size
        100kb</span>
    </label>
    <div class="d-flex align-items-center-end gap-2">
      <input type="file" name="file" accept="image/*" hidden (change)="onLogoSelected($event)" #logoFile />
      <div class="bg-soft-secondary d-flex flex-column justify-content-center align-items-center"
        style="width: 250px; height: 100px" *ngIf="!selectedLogoFilePreview">
        <span class="text-muted fs-18 fw-bold"> 250 x 100</span><i
          class="ri-image-fill text-muted me-2 align-middle fs-1"></i>
      </div>
      <img alt="logo preview" *ngIf="selectedLogoFilePreview" [src]="selectedLogoFilePreview"
        style="max-width: 250px; max-height: 100px;" />
      <div class="d-flex align-items-end gap-2">
        <button class="btn btn-icon btn-sm btn-primary" (click)="logoFile.click()">
          <i class="ri-camera-line"></i>
        </button>
        <button class="btn btn-icon btn-sm btn-primary" (click)="sendLogoFile()" [disabled]="!selectedLogoFilePreview">
          <i class="pi pi-upload"></i>
        </button>
      </div>
    </div>
    <span style="font-size: small; color: rgb(225, 111, 111);">{{selectedLogoFileErrorMessage}}</span>
  </div>

  <!--Icon upload-->
  <div class="mb-3">
    <label class="form-label">
      Square Icon<span class="" ngbPopover="upload the company icon. The recommended size for the icon is 64 x 64."
        placement="right" triggers="mouseenter:mouseleave"><i
          class="ri-question-fill align-middle me-2 mx-2"></i></span><span
        style="font-size: x-small; color: rgb(225, 111, 111);">Maximum size
        100kb</span>
    </label>
    <div class="d-flex align-items-center-end gap-2">
      <input type="file" name="file" accept="image/*" hidden (change)="onIconSelected($event)" #iconFile />
      <div class="bg-soft-secondary d-flex flex-column justify-content-center align-items-center"
        style="width: 64px; height: 64px" *ngIf="!selectedIconFilePreview">
        <span class="text-muted fs-12 fw-bold"> 64 x 64</span><i
          class="ri-landscape-fill text-muted me-2 align-middle fs-4"></i>
      </div>
      <img alt="icon preview" *ngIf="selectedIconFilePreview" [src]="selectedIconFilePreview"
        style="max-width: 64px; max-height: 64px;" />
      <div class="d-flex align-items-end gap-2">
        <button class="btn btn-sm btn-icon btn-primary" (click)="iconFile.click()">
          <i class="ri-camera-line"></i>
        </button>
        <button class="btn btn-icon btn-sm btn-primary" (click)="sendIconFile()" [disabled]="!selectedIconFilePreview">
          <i class="pi pi-upload"></i>
        </button>
      </div>
    </div>
    <span style="font-size: small; color: rgb(225, 111, 111);">{{selectedIconFileErrorMessage}}</span>
  </div>

  <!--Favicon upload-->
  <div class="mb-3">
    <label class="form-label">
      Favicon<span class="" ngbPopover="upload the company favicon. The recommended size for the favicon is 32 x 32."
        placement="right" triggers="mouseenter:mouseleave"><i
          class="ri-question-fill align-middle me-2 mx-2"></i></span><span
        style="font-size: x-small; color: rgb(225, 111, 111);">Maximum size
        100kb (32 X 32)</span>
    </label>
    <div class="d-flex align-items-center-end gap-2">
      <input type="file" name="file" accept="image/*" hidden (change)="onFavIconSelected($event)" #faviconFile />
      <div class="bg-soft-secondary d-flex flex-column justify-content-center align-items-center"
        style="width: 32px; height: 32px" *ngIf="!selectedFaviconFilePreview">
        <i class="ri-landscape-fill text-muted me-2 align-middle fs-6"></i>
      </div>
      <img alt="favicon preview" *ngIf="selectedFaviconFilePreview" [src]="selectedFaviconFilePreview"
        style="max-width: 32px; max-height: 32px;" />
      <div class="d-flex align-items-end gap-2">
        <button class="btn btn-sm btn-icon btn-primary" (click)="faviconFile.click()">
          <i class="ri-camera-line"></i>
        </button>
        <button class="btn btn-icon btn-sm btn-primary" (click)="sendFavIconFile()"
          [disabled]="!selectedFaviconFilePreview">
          <i class="pi pi-upload"></i>
        </button>
      </div>
    </div>
    <span style="font-size: small; color: rgb(225, 111, 111);">{{selectedFaviconFileErrorMessage}}</span>
  </div>

  <!--Primary Color Picker-->
  <div class="row mb-3">
    <label class="form-label">
      EXAMALPHA Primary Color<span class=""
        ngbPopover="Pick the primary color of the company. This will be used in the customization of the application's look and feel."
        placement="right" triggers="mouseenter:mouseleave"><i
          class="ri-question-fill align-middle me-2 mx-2"></i></span>
    </label>
    <input type="color" class="form-control form-control-color w-100" id="colorPicker" value="#6404DD" />
  </div>
  <button class="btn btn-primary">Update Color</button>

  <!--Secondary Color Picker-->
  <div class="row mb-3 mt-3">
    <label class="form-label">
      EXAMALPHA Secondary Color<span class=""
        ngbPopover="Pick the secondary color of the company. This will be used in the customization of the application's look and feel."
        placement="right" triggers="mouseenter:mouseleave"><i
          class="ri-question-fill align-middle me-2 mx-2"></i></span>
    </label>
    <input type="color" class="form-control form-control-color w-100" id="colorPicker" value="#008000" />
  </div>
  <button class="btn btn-primary">Update Color</button>
</div>