<div style="background: #f4f4f4; margin: 30px; border-radius: 15px">
  <div class="row" style="margin: 10%; margin-top: 1%">
    <!-- <div style=" margin-top: 0px;  right: 12;"> -->
    <!-- <svg
      xmlns="http://www.w3.org/2000/svg"
      width="100"
      height="65"
      viewBox="0 0 127 65"
      fill="none"
    >
      <g filter="url(#filter0_b_169_255)">
        <circle
          cx="4"
          cy="4"
          r="4"
          transform="matrix(1 0 0 -1 9 65)"
          fill="#B7B7B7"
          fill-opacity="0.3"
        />
      </g>
      <g filter="url(#filter1_b_169_255)">
        <circle
          cx="3"
          cy="3"
          r="3"
          transform="matrix(1 0 0 -1 10 64)"
          fill="#049DB7"
          fill-opacity="0.5"
        />
      </g>
      <path
        d="M122.634 10.08C124.94 9.1248 126.035 6.48117 125.08 4.17526C124.125 1.86935 121.481 0.774353 119.175 1.72951C116.869 2.68467 115.774 5.32829 116.729 7.6342C117.685 9.94012 120.328 11.0351 122.634 10.08Z"
        fill="#0898B1"
      />
      <path
        d="M5.04016 18.0803C2.2618 18.0803 0 15.82 0 13.0402C0 10.2618 2.26031 8 5.04016 8C7.82002 8 10.0803 10.2603 10.0803 13.0402C10.0788 15.8185 7.81853 18.0803 5.04016 18.0803ZM5.04016 9.04356C2.83659 9.04356 1.04357 10.8366 1.04357 13.0402C1.04357 15.2437 2.83659 17.0368 5.04016 17.0368C7.24374 17.0368 9.03677 15.2437 9.03677 13.0402C9.03677 10.8366 7.24374 9.04356 5.04016 9.04356Z"
        fill="#049DB7"
      />
      <defs>
        <filter
          id="filter0_b_169_255"
          x="-61"
          y="-13"
          width="148"
          height="148"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feGaussianBlur in="BackgroundImageFix" stdDeviation="35" />
          <feComposite
            in2="SourceAlpha"
            operator="in"
            result="effect1_backgroundBlur_169_255"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_backgroundBlur_169_255"
            result="shape"
          />
        </filter>
        <filter
          id="filter1_b_169_255"
          x="-60"
          y="-12"
          width="146"
          height="146"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feGaussianBlur in="BackgroundImageFix" stdDeviation="35" />
          <feComposite
            in2="SourceAlpha"
            operator="in"
            result="effect1_backgroundBlur_169_255"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_backgroundBlur_169_255"
            result="shape"
          />
        </filter>
      </defs>
    </svg> -->
    <!-- </div> -->

    <div class="col-lg-6 col-sm-12 col-md-12" style="margin-top: 10%">
      <div style="margin-bottom: 30px">
        <a routerLink="/" class="d-inline-block auth-logo">
          <img src="assets/logo/EXPryLogoHor.png" alt="" height="20" />
        </a>
      </div>

      <h5
        class="fs-14"
        style="
          font-size: 20px;
          margin-bottom: 40px;
          font-weight: 700;
          color: #049db7;
        "
      >
        Forgot password
      </h5>
      <div class="row">
        <div class="col-lg-9 col-sm-12 col-md-12">
          <p>
            Enter your username or email address and we’ll send you a password
            rest link
          </p>

          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              name=""
              id=""
              aria-describedby=""
              placeholder="Your username or email"
            />
          </div>

          <div
            class="p-2 mb-3"
            style="
              background-color: #efefef;
              border-radius: 6px;
              border: 1px solid #dbdbdb;
            "
          >
            <div class="row">
              <div class="col-10">
                <div class="d-flex gap-2">
                  <i class="ri-information-line text-danger"></i>
                  <span class="text-danger">
                    Username or email does not have an account</span
                  >
                </div>
              </div>
            </div>
          </div>

          <div>
            <button
              class="btn"
              style="width: 100%; background: #049db7; color: white"
            >
              Submit
            </button>
          </div>
          <div class="mt-3 mb-5">
            <button class="btn btn-outline-secondary" style="width: 100%">
              Back to Login
            </button>
          </div>
          <div style="position: absolute; margin-left: 335px; margin-top: 24px">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="11"
              height="11"
              viewBox="0 0 11 11"
              fill="none"
            >
              <path
                d="M5.04016 10.0803C2.2618 10.0803 0 7.82001 0 5.04016C0 2.2618 2.26031 0 5.04016 0C7.82002 0 10.0803 2.26031 10.0803 5.04016C10.0788 7.81852 7.81853 10.0803 5.04016 10.0803ZM5.04016 1.04356C2.83659 1.04356 1.04357 2.83658 1.04357 5.04016C1.04357 7.24374 2.83659 9.03676 5.04016 9.03676C7.24374 9.03676 9.03677 7.24374 9.03677 5.04016C9.03677 2.83658 7.24374 1.04356 5.04016 1.04356Z"
                fill="#049DB7"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 d-none d-md-block">
      <img
        src="assets/images/forgot-password-image.png"
        alt=""
        style="padding: 45px; height: 637px"
      />
    </div>
  </div>
</div>
