<div>
  <h6 class="mb-2 fw-semibold text-uppercase">Introduction</h6>
  <p class="text-muted mb-4">
    The dashboard is designed to offer a comprehensive overview of performance,
    using data visualization tools like charts and graphs.
  </p>
  <h6 class="mb-2 fw-semibold text-uppercase">QUESTION ANALYSIS OVERVIEW</h6>
  <p>
    There are 10 cards displayed on the dashboard:<br />
    Total subjects, total questions, total passages, total in-recycle, total
    published, awaiting moderation, total approved, total draft, total rejected
    and total questions used. <br />
    <em
      >A sample image of cards in the dashboard and what they stand for is shown
      below</em
    >
  </p>
  <div class="row">
    <div class="col-12">
      <img
        src="assets/images/snapshots/dashboard/subjects_card.PNG"
        alt=""
        height="350"
        width="100%"
      />
      <p>
        This card displays the total number of subjects created. From the image
        above, it is shown that the total created subjects are 39.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <img
        src="assets/images/snapshots/dashboard/total_questions_card.PNG"
        alt=""
        height="350"
        width="100%"
      />
      <p>
        This card displays the total number of questions in the bank across all
        subjects. From the image above, it is shown that the total number
        questions are 2612.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <img
        src="assets/images/snapshots/dashboard/total_questions_card.PNG"
        alt=""
        height="350"
        width="100%"
      />
      <p>
        This card displays the total number of questions in the bank across all
        subjects. From the image above, it is shown that the total number
        questions are 2612.
      </p>
    </div>
  </div>

  <h6 class="mt-4 fw-semibold text-uppercase">How To Add a new user</h6>
  <p class="text-muted mb-4">
    To add a new user click on the add user button, it is located at the top
    right corner just above the users table.&nbsp; A sample image is shown
    below;
  </p>
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-6">
      <img
        src="assets/images/snapshots/users/add_user_button.PNG"
        alt=""
        height="80"
        width="220"
      />
    </div>
  </div>

  <p class="my-4 text-muted">
    The table has different columns, each column displaying specific information
    about the user. The columns in the table are;
    <em>Fullname,&nbsp;</em> <em>Username,&nbsp;</em> <em>Email,&nbsp;</em>
    <em>Roles,&nbsp;</em> <em>Status,&nbsp;</em> and
    <em>Actions.&nbsp;</em>
  </p>

  <ul>
    <li>
      <strong class="text-uppercase">Fullname:</strong>&nbsp;This column
      displays the first and last name of the user.
    </li>

    <li>
      <strong class="text-uppercase">Username:</strong>&nbsp;This column
      displays the first and last name of the user.
    </li>
    <li>
      <strong class="text-uppercase">Email:</strong>&nbsp;This column displays
      the first and last name of the user.
    </li>
    <li>
      <h6 class="mt-4 mb-2 fw-semibold text-uppercase">Roles</h6>
      <p class="text-muted mb-4">
        The roles column indicates the current role assigned to the user, the
        role limits the activities of a user. The roles can be either of the
        following; Admin, Authors, Moderators and Examiners
      </p>

      <div
        class="row d-flex flex-column justify-content-center align-items-center"
      >
        <div class="col-6">
          <img
            src="assets/images/snapshots/users/users_list_roles.PNG"
            alt=""
            height="200"
          />
          <!-- <h5 class="fs-13 text-center mt-2">Roles</h5> -->
        </div>

        <div class="col-4"></div>
      </div>
    </li>
    <li>
      <h6 class="mt-4 mb-2 fw-semibold text-uppercase">Status</h6>
      <p class="text-muted mb-4">
        The status column indicates whether the user is either active or
        inactive. <br />
        <strong class="text-dark">Note:</strong> &nbsp;If the status is inactive
        then the user will not be able to login to the application.
      </p>
      <div
        class="row d-flex flex-column justify-content-center align-items-center"
      >
        <h6 class="mb-0 fw-semibold text-uppercase"></h6>
        <p class="text-muted"></p>
        <div class="col-6">
          <img
            src="assets/images/snapshots/users/status.PNG"
            alt=""
            style="width: 150px; height: 150px"
          />
        </div>
      </div>
    </li>
    <li>
      <h6 class="mt-4 mb-2 fw-semibold text-uppercase">Actions</h6>
      <p class="text-muted mb-4">
        The actions column provides an action button which when clicked on drops
        down a menu displaying various actions. A sample image is shown
        below;<br />
      </p>
      <div
        class="row d-flex flex-column justify-content-center align-items-center"
      >
        <h6 class="mb-0 fw-semibold text-uppercase"></h6>
        <p class="text-muted"></p>
        <div class="col-6">
          <img
            src="assets/images/snapshots/users/action_menu.PNG"
            alt=""
            style="width: 250px; height: 200px"
          />
        </div>
      </div>
    </li>
  </ul>
</div>
