<!-- LOADER -->
<div
  *ngIf="processingFetchAssessmentGroup"
  class="d-flex align-items-center justify-content-center"
  style="height: 60vh"
>
  <div class="d-flex align-items-center gap-2">
    <div class="spinner-border text-info fs-18" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <span class="text-info text-center fs-16 flex-grow-1 ms-2"
      >Loading section groups...</span
    >
  </div>
</div>

<ng-container
  *ngIf="
    assessmentSectionGroups && !processingFetchAssessmentGroup && dashboardData
  "
>
  <div class="row mb-0">
    <div class="col-lg-4 col-sm-12 col-md-6 card p-3">
      <div
        class="d-flex flex-row gap-2 justify-content-center align-items-center"
      >
        <h4>GROUPING</h4>
        <h3>{{ dashboardData.total_section_groups }}</h3>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 col-md-6 card p-3">
      <div
        class="d-flex flex-row gap-2 justify-content-center align-items-center"
      >
        <h4>PARTICIPANTS</h4>
        <h3>{{ dashboardData.total_participants }}</h3>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 col-md-6 card p-3">
      <div
        class="d-flex flex-row gap-2 justify-content-center align-items-center"
      >
        <h4>SECTIONS</h4>
        <h3>{{ dashboardData.total_sections }}</h3>
      </div>
    </div>
  </div>

  <div>
    <div
      class="d-flex align-items-center justify-content-between"
      *ngIf="assessmentSectionGroups"
    >
      <h5>List of all Section Group</h5>

      <div class="d-flex gap-3 mb-2">
        <button
          class="btn btn-soft-primary waves-effect waves-light btn-label"
          (click)="openSectionsModal(addSectionGroup)"
        >
          <i class="ri-add-line label-icon align-middle me-2"></i>
          Add Section Group
        </button>

        <!-- <div class="hstack flex-wrap gap-2"> -->
        <!-- <button
          type="button"
          class="btn btn-light btn-sm"
          placement="left"
          ngbPopover="Group Section allows you to group participants of an assesssment into different sections"
        >
          <i class="ri-information-line text-primary"></i>
        </button> -->
        <!-- </div> -->
      </div>
    </div>
    <div class="" *ngIf="assessmentSectionGroups">
      <div class="">
        <div class="row">
          <div class="card p-0 card-animate">
            <p-table
              [value]="assessmentSectionGroups.sectionGroups"
              styleClass="p-datatable-customers"
              [rowHover]="true"
              responsiveLayout="scroll"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="name">
                    <!-- <div class="flex justify-content-between align-items-center"> -->
                    NAME
                    <p-sortIcon field="name"></p-sortIcon>
                    <!-- <p-columnFilter
                        type="text"
                        field="name"
                        display="menu"
                        class="ml-auto"
                      ></p-columnFilter> -->
                    <!-- </div> -->
                  </th>
                  <th pSortableColumn="numberOfParticipant">
                    <!-- <div class="flex justify-content-between align-items-center"> -->
                    PARTICIPANTS
                    <p-sortIcon field="numberOfParticipant"></p-sortIcon>
                    <!-- <p-columnFilter
                      type="text"
                      field="numberOfParticipant"
                      display="menu"
                      class="ml-auto"
                    ></p-columnFilter> -->
                    <!-- </div> -->
                  </th>
                  <th pSortableColumn="sections">
                    <!-- <div class="flex justify-content-between align-items-center"> -->
                    SECTIONS
                    <!-- <p-sortIcon field="programName"></p-sortIcon>
                    <p-columnFilter
                      type="text"
                      field="sections"
                      display="menu"
                      class="ml-auto"
                    ></p-columnFilter> -->
                    <!-- </div> -->
                  </th>

                  <th>ACTIONS</th>
                </tr>
              </ng-template>
              >
              <ng-template pTemplate="body" let-sectionGroup>
                <tr>
                  <td style="width: 30px">
                    <!-- <div class="d-flex justify-content-start align-items-center"> -->
                    <!-- <div class="flex-grow-3 ms-2"> -->
                    {{ sectionGroup.groupName | uppercase }}
                    <!-- </div> -->
                    <!-- </div> -->
                  </td>

                  <td style="width: 10px">{{ sectionGroup.participants }}</td>
                  <td style="width: 30px">
                    <div *ngFor="let section of sectionGroup.sections">
                      <span class="badge badge-soft-primary badge-border">{{
                        section.name
                      }}</span>
                    </div>
                  </td>

                  <!-- <td>
                        <div *ngFor="let parameter of group.parameters">
                          <span class="badge badge-soft-primary">{{
                            parameter.field + ":" + " " + parameter.value
                          }}</span>
                        </div>
                      </td> -->

                  <td style="width: 30px">
                    <div class="dropdown" ngbDropdown>
                      <button
                        class="btn btn-soft-secondary btn-sm dropdown arrow-none"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        ngbDropdownToggle
                        (click)="stopPropagation($event)"
                      >
                        <i class="ri-more-fill align-middle"></i>
                      </button>
                      <ul
                        class="dropdown-menu dropdown-menu-end"
                        ngbDropdownMenu
                        (click)="stopPropagation($event)"
                      >
                        <li (click)="viewGroupParticipant(sectionGroup.id)">
                          <a class="dropdown-item" href="javascript:void(0);"
                            ><i class="ri-eye-line me-2 align-middle"></i>View
                            Group Participants</a
                          >
                        </li>
                        <li
                          (click)="editAssessmentGroupSections(sectionGroup.id)"
                        >
                          <a class="dropdown-item" href="javascript:void(0);"
                            ><i class="ri-edit-box-line me-2 align-middle"></i
                            >Edit Group</a
                          >
                        </li>
                        <li
                          (click)="
                            openDeleteConfirmationModal(deleteConfirmationModal)
                          "
                        >
                          <a class="dropdown-item" href="javascript:void(0);"
                            ><i
                              class="ri-delete-bin-5-line me-2 align-middle"
                            ></i
                            >Delete Group</a
                          >
                        </li>
                        <li class="dropdown-divider"></li>
                      </ul>

                      <ng-template #deleteConfirmationModal let-modal>
                        <div class="modal-body text-center p-5">
                          <div class="mt-4">
                            <h4 class="mb-3">
                              Are you sure you want delete section group?
                            </h4>
                            <p class="text-muted mb-4">
                              This action cannot be reverted
                            </p>
                            <div class="hstack gap-2 justify-content-center">
                              <button
                                type="button"
                                class="btn btn-light"
                                data-bs-dismiss="modal"
                                (click)="modal.close('Close click')"
                              >
                                Close
                              </button>
                              <button
                                [disabled]="processingDelete"
                                class="btn btn-danger"
                                (click)="deleteSectionGroup(sectionGroup.id)"
                              >
                                <span *ngIf="!processingDelete"
                                  >Yes, Delete</span
                                >
                                <span *ngIf="processingDelete"
                                  >Processing...</span
                                >
                              </button>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
    </div>
  </div>
</ng-container>

<p-paginator
  *ngIf="assessmentSectionGroups"
  (onPageChange)="onPageChange($event)"
  [first]="1"
  [totalRecords]="assessmentSectionGroups && assessmentSectionGroups.total"
  [rowsPerPageOptions]="[10, 20, 30, 40, 50]"
  [rows]="5"
  [pageLinkSize]="5"
  [showCurrentPageReport]="true"
></p-paginator>

<ng-template #addSectionGroup let-modal>
  <div class="col-12">
    <div class="">
      <div class="card-body">
        <div class="flex-grow-1">
          <h3 class="mb-2">Add Exam Group Sections</h3>
        </div>
        <!-- <div class="d-flex justify-content-start">
              <button class="btn btn-sm btn-soft-primary mb-3" (click)="goBack()">
                <i class="ri-arrow-left-s-line align-bottom"></i>
              </button>
            </div> -->

        <form
          #addGroupSectionForm="ngForm"
          (ngSubmit)="saveSectionGroup(addGroupSectionForm)"
        >
          <div>
            <div class="col-lg-12">
              <div class="mb-3">
                <div class="col-lg-12 col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Name:</label>
                    <input
                      #sectionNameRef
                      class="form-control"
                      type="text"
                      name="sectionName"
                      ngModel
                      required
                      (input)="checkIfSectionNameExist(sectionNameRef)"
                    />
                    <div *ngIf="checkIfSectionNameExist(sectionNameRef)" class="mt-1 text-danger small"> Section name already exist </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="mb-3">
                <div class="col-lg-12 col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Section(s):</label>
                    <ng-select
                      [items]="Sections"
                      [multiple]="true"
                      bindLabel="name"
                      [(ngModel)]="selectedSections"
                      name="selectedSections"
                      ngModel
                      required
                    >
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex gap-3 mb-2 justify-content-end mx-2">
            <!-- <button class="btn btn-soft-primary btn-sm m-3" (click)="addConditions()">Add condition</button> -->
            <button
              *ngIf="!proccessingAddSectionGroup"
              [disabled]="!addGroupSectionForm.valid || sectionNameRef.value.trim() === '' || checkIfSectionNameExist(sectionNameRef)"
              class="btn btn-primary"
            >
              Save
            </button>

            <ng-template [ngIf]="proccessingAddSectionGroup">
              <button
                class="btn btn-primary btn-load"
                [disabled]="proccessingAddSectionGroup"
              >
                <span class="d-flex align-items-center">
                  <span class="spinner-border flex-shrink-0" role="status">
                    <span class="visually-hidden">Saving...</span>
                  </span>
                  <span class="flex-grow-1 ms-2"> Saving... </span>
                </span>
              </button>
            </ng-template>

         

            <a class="btn btn-danger" (click)="cancel()">Close</a>
          </div>
        </form>
      </div>
    </div>

    <!--end card-->
  </div>
</ng-template>

<ng-template #editSectionGroup let-modal>
  <div class="col-12">
    <div class="card">
      <div class="flex-grow-1">
        <h5 class="card-title mb-0 card-header">
          Edit Exam Group Sections
        </h5>
      </div>
      <div class="card-body">
        <!-- <div class="d-flex justify-content-start">
              <button class="btn btn-sm btn-soft-primary mb-3" (click)="goBack()">
                <i class="ri-arrow-left-s-line align-bottom"></i>
              </button>
            </div> -->

        <form
          #addGroupSectionForm="ngForm"
          (ngSubmit)="saveSectionGroup(addGroupSectionForm)"
        >
          <div>
            <div class="col-lg-12">
              <div class="mb-3">
                <div class="col-lg-12 col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Name:</label>
                    <input
                      #sectionNameRef
                      class="form-control"
                      type="text"
                      name="sectionName"
                      ngModel
                      required
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="mb-3">
                <div class="col-lg-12 col-md-6">
                  <div class="mb-3">
                    <label class="form-label">Section(s):</label>
                    <ng-select
                      [items]="Sections"
                      [multiple]="true"
                      bindLabel="name"
                      [(ngModel)]="selectedSections"
                      name="selectedSections"
                      ngModel
                      required
                    >
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex gap-3 mb-2 justify-content-end mx-2">
            <!-- <button class="btn btn-soft-primary btn-sm m-3" (click)="addConditions()">Add condition</button> -->
            <button
              *ngIf="!proccessingAddSectionGroup"
              [disabled]="!addGroupSectionForm.valid"
              class="btn btn-primary"
            >
              Save
            </button>

            <button *ngIf="proccessingAddSectionGroup" class="btn btn-primary">
              Proccessing...
            </button>

            <button class="btn btn-danger" (click)="cancel()">Close</button>
          </div>
        </form>
      </div>
    </div>

    <!--end card-->
  </div>
</ng-template>
