<div class="card">
  <div class="card-body">
    <div
      *ngIf="
        previewData && previewData.itemPassage && component !== 'passageItem'
      "
      class="col-xxl-12 col-lg-12 col-md-12 col-sm-12"
    >
      <div [innerHTML]="previewData.itemPassage | htmlSanitizer"></div>
      <hr />
    </div>

    <div class="row">
      <div class="col-xxl-12 col-lg-12 col-md-12 col-sm-12">
        <div [innerHTML]="previewData.stimulus | htmlSanitizer">
          {{ previewData.stimulus | htmlSanitizer }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12">
        <div class="table-responsive">
          <table class="table table-bordered align-middle table-nowrap mb-0">
            <thead>
              <tr>
                <th></th>
                <th
                  scope="col"
                  *ngFor="let option of previewData.options; let i = index"
                  [innerHTML]="option.label | htmlSanitizer"
                >
                  {{ option.label | htmlSanitizer }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let stem of previewData.stems; let i = index">
                <td class="fw-medium" [innerHTML]="stem | htmlSanitizer">
                  {{ stem }}
                </td>
                <td *ngFor="let option of previewData.options; let j = index">
                  <input
                    class="form-check-input"
                    id="form-radio-right5"
                    type="radio"
                    name="stem_{{ i }}"
                    value="{{ option.value }}"
                    [checked]="
                      showAnswer &&
                      previewData.scoringOption.answers[i] === j + ''
                    "
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- end col -->
    </div>
    <hr />

    <div class="d-flex justify-content-between gap-2">
      <div class="form-check mt-1">
        <input
          [disabled]="
            previewData.scoringOption.answers.length < previewData.stems.length
          "
          class="form-check-input"
          type="checkbox"
          name="showAnswer"
          (change)="check()"
        />
        <label class="form-check-label">
          Show Answer
          <span
            *ngIf="
              previewData.scoringOption.answers.length <
              previewData.stems.length
            "
            class="text-danger"
            >selected {{ previewData.scoringOption.answers.length }} correct
            answers out of {{ previewData.stems }}</span
          ></label
        >
      </div>

      <div class="d-flex gap-2 float-end flex-wrap">
        <button
          *ngIf="
            !currentUser.authorities.includes('MODERATOR') &&
            !assessmentActive &&
            !recycleComponentActive &&
            !previewData.passageId &&
            previewData.id &&
            component !== 'question_status' &&
            !isEditPreview
          "
          class="btn btn-sm btn-danger"
          type="button"
          (click)="
            openDeleteItemModal(deleteQuestionConfirmationModal, previewData.id)
          "
        >
          <i class="ri-delete-bin-2-fill align-middle fs-14"></i>Delete
        </button>
        <button
          *ngIf="
            !currentUser.authorities.includes('MODERATOR') &&
            !assessmentActive &&
            !recycleComponentActive &&
            previewData.id &&
            previewData.passageId &&
            component !== 'question_status' &&
            !isEditPreview
          "
          class="btn btn-sm btn-danger"
          type="button"
          (click)="
            openDeletePassageItemModal(
              deleteQuestionConfirmationModal,
              previewData.id
            )
          "
        >
          <i class="ri-delete-bin-5-fill align-middle fs-14"></i>Delete
        </button>
        <button
          *ngIf="
            !currentUser.authorities.includes('MODERATOR') &&
            !assessmentActive 
          
          "
          type="button"
          class="btn btn-primary btn-sm"
          (click)="edit()"
        >
          <i class="ri-edit-fill align-middle fs-14"></i>Edit
        </button>
        <button
          *ngIf="
            currentUser.authorities.includes('MODERATOR') && 
            !assessmentActive &&
            previewData.itemStatus !== 'REJECTED' &&
            previewData.itemStatus !== 'PUBLISHED'
          "
          type="button"
          class="btn btn-outline-danger btn-sm"
          (click)="review()"
        >
          Review
        </button>
        <!-- <button
          *ngIf="currentUser.authorities.includes('ADMIN')"
          ngbTooltip="USAGE HISTORY"
          type="button"
          class="btn px-2 btn-icon btn-outline-info"
          (click)="openUsageHistoryModal(itemUsageModal, previewData.id)"
        >
          <i class="ri-history-line"></i>
        </button> -->
      </div>
    </div>
  </div>
</div>

<ng-template #deleteQuestionConfirmationModal let-modal>
  <div class="modal-body p-5">
    <h4 class="mb-4 text-center">Confirm Action Dialog</h4>
    <div class="row">
      <p class="text-center text-muted">
        Are you sure you want to delete this Question?
      </p>
    </div>
    <div class="d-flex justify-content-center gap-2 mt-2">
      <button
        type="button"
        (click)="modal.close('Close click')"
        class="btn btn-secondary"
      >
        No, Cancel
      </button>
      <button
        type="button"
        (click)="deleteItem()"
        class="btn btn-danger"
        *ngIf="!processing_delete && !assessmentActive"
      >
        Yes, Delete It
      </button>
      <ng-template [ngIf]="processing_delete">
        <button
          class="btn btn-outline-danger btn-load"
          [disabled]="processing_delete"
        >
          <span class="d-flex align-items-center">
            <span class="spinner-border flex-shrink-0" role="status">
              <span class="visually-hidden">Deleting...</span>
            </span>
            <span class="flex-grow-1 ms-2"> Deleting... </span>
          </span>
        </button>
      </ng-template>
    </div>
  </div>
</ng-template>

<ng-template #deletePassageQuestionConfirmationModal let-modal>
  <div class="modal-body p-5">
    <h4 class="mb-4 text-center">Confirm Action Dialog</h4>
    <div class="row">
      <p class="text-center text-muted">
        Are you sure you want to delete this Question?
      </p>
    </div>
    <div class="d-flex justify-content-center gap-2 mt-2">
      <button
        type="button"
        (click)="modal.close('Close click')"
        class="btn btn-secondary"
      >
        No, Cancel
      </button>
      <button
        type="button"
        (click)="deletePassageItem()"
        class="btn btn-danger"
        *ngIf="!processing_delete"
      >
        Yes, Delete It
      </button>
      <ng-template [ngIf]="processing_delete">
        <button
          class="btn btn-outline-danger btn-load"
          [disabled]="processing_delete"
        >
          <span class="d-flex align-items-center">
            <span class="spinner-border flex-shrink-0" role="status">
              <span class="visually-hidden">Deleting...</span>
            </span>
            <span class="flex-grow-1 ms-2"> Deleting... </span>
          </span>
        </button>
      </ng-template>
    </div>
  </div>
</ng-template>

<ng-template #itemUsageModal let-modal>
  <div class="modal-header">
    <h3 class="modal-title">QUESTION USAGE HISTORY</h3>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modal.close('Close click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div
    class="modal-body px-5"
    style="
      height: 350px;
      scroll-behavior: smooth;
      overflow-x: hidden;
      overflow-y: auto;
    "
  >
    <ng-container
      *ngIf="
        !loading_usage_history &&
        itemUsageHistory &&
        itemUsageHistory.length > 0
      "
    >
      <div *ngFor="let usage of itemUsageHistory" class="profile-timeline">
        <!-- <div class="d-flex align-items-center">
          <div class="flex-shrink-0 avatar-xs">
            <div class="avatar-title rounded-circle 'bg-success'">
              <i class="ri-file-line"></i>
            </div>
          </div>
          <div class="flex-grow-1 ms-3">
            <h6 class="fs-15 mb-0 fw-semibold">
              This question was used in {{ usage.assessmentName }} -
              <span class="fw-normal">{{
                usage.usedAt | date : 'medium'
              }}</span>
            </h6>
          </div>
        </div> -->
        <ngb-accordion
          #acc="ngbAccordion"
          activeIds="static-1"
          [closeOthers]="true"
        >
          <ngb-panel id="static-1">
            <ng-template ngbPanelTitle>
              <a
                class="accordion-button p-2 shadow-none"
                data-bs-toggle="collapse"
                href="javasccript:void(0;)"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0 avatar-xs">
                    <div class="avatar-title rounded-circle 'bg-success'">
                      <i class="ri-file-line"></i>
                    </div>
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <h6 class="fs-15 mb-0 fw-semibold">
                      This question was used in {{ usage.assessmentName }}
                      <!-- <span class="fw-normal">{{
                            usage.usedAt | date : 'medium'
                          }}</span> -->
                    </h6>
                  </div>
                </div>
              </a>
            </ng-template>
            <ng-template ngbPanelContent>
              <div
                id="collapseOne"
                class="accordion-collapse collapse show"
                aria-labelledby="headingOne"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body ms-2 ps-5 pt-0">
                  <p class="text-muted">
                    used at {{ usage.usedAt | date : "medium" }}.
                  </p>
                </div>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </ng-container>

    <div
      class="p-2"
      *ngIf="!loading_usage_history && itemUsageHistory.length < 1"
    >
      <div
        class="d-flex flex-column justify-content-between align-items-center"
      >
        <img
          src="assets/images/blank_pages/empty-state.png"
          width="200"
          height="200"
          class=""
        />
        <h4 class="text-secondary fw-bold my-2">
          This Question has never been used for an exam!
        </h4>
      </div>
    </div>

    <div
      *ngIf="loading_usage_history"
      class="d-flex align-items-center justify-content-center"
      style="height: 60vh"
    >
      <div class="d-flex align-items-center gap-2">
        <div class="spinner-border text-info fs-18" role="status">
          <span class="visually-hidden">Loading question usage history...</span>
        </div>
        <span class="text-info text-center fs-16 flex-grow-1 ms-2"
          >Loading question usage history...</span
        >
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-end gap-2">
      <button
        type="button"
        (click)="modal.close('Close click')"
        class="btn btn-danger"
      >
        Close
      </button>
    </div>
  </div>
</ng-template>
