<form *ngIf="preview === false" #itemForm="ngForm">
  <div class="card">
    <div class="card-body">
      <div class="mb-5">
        <div class="d-flex flex-wrap gap-2 float-end">
          <button
            type="button"
            class="btn btn-outline-success waves-effect waves-light"
            (click)="doPreview(itemForm)"
          >
            Preview
          </button>

          <div class="btn-group" role="group" ngbDropdown>
            <button
              id="btnGroupDrop1"
              type="button"
              class="btn btn-primary dropdown-toggle arrow-none"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              ngbDropdownToggle
            >
              Save <i class="mdi mdi-chevron-down"></i>
            </button>
            <ul
              class="dropdown-menu"
              aria-labelledby="btnGroupDrop1"
              ngbDropdownMenu
            >
              <li>
                <a class="dropdown-item" (click)="saveItem(itemForm)">Save</a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  (click)="saveAsItem(itemForm, 'save_as_draft')"
                  >Save as draft</a
                >
              </li>
              <li (click)="saveAsItem(itemForm, 'save_and_new')">
                <a class="dropdown-item">Save and new</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="autoSizingInputGroup">Title</label>
        <input
          type="text"
          class="form-control"
          name="reference"
          [(ngModel)]="item.reference"
          placeholder="Title"
        />
      </div>
      <div class="mb-3">
        <label>Compose Question</label>
        <editor
          name="stimulus"
          [(ngModel)]="item.stimulus"
          [init]="{
            branding: false,
            base_url: '/tinymce',
            height: 200,
            suffix: '.min',
            menubar: true,
            plugins:
              'table quickbars lists autoresize charmap paste code eqneditor',
            paste_preprocess: preProcess,
            setup: setup,
            quickbars_insert_toolbars: false,
            toolbar:
              'undo redo | formatselect | bold italic underline eqneditor | subscript superscript | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | table quickimage quicklink equation-editor | code charmap'
          }"
        ></editor>
      </div>

      <div class="row gy-4">
        <div class="col-xxl-12 col-md-12 col-sm-12">
          <app-item-tag #tagRef (sendTags)="recieveTags($event)"></app-item-tag>
        </div>
      </div>
      <!--end row-->
    </div>
  </div>

  
  <!-- end card -->

  <div class="card">
    <div class="live-preview">
      <ngb-accordion
        #acc="ngbAccordion"
        activeIds="static-1"
        [closeOthers]="true"
        class="custom-accordionwithicon accordion-border-box"
      >
        <ngb-panel id="static-1">
          <ng-template ngbPanelTitle class="accordion-header">
            <h2 class="accordion-header" id="gen-ques-headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#gen-ques-collapseOne"
                aria-expanded="false"
                aria-controls="gen-ques-collapseOne"
              >
                More options
              </button>
            </h2>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="accordion-body">
              <div class="live-preview">
                <div ngModelGroup="item.scoringOption">
                  <div class="row gy-2 gx-3 mb-3 align-items-center">
                    <div class="col-sm-auto col-lg-6">
                      <label class="form-label">Score</label>
                      <input
                        type="number"
                        min="0"
                        class="form-control"
                        placeholder="Score"
                        name="score"
                        [value]="item.scoringOption.score"
                      />
                    </div>
                    <!--end col-->
                    <div class="col-sm-auto col-lg-6">
                      <label
                        for="choices-privacy-status-input"
                        class="form-label"
                        >Scoring Type</label
                      >
                      <select
                        class="form-select"
                        data-choices
                        data-choices-search-false
                        id="choices-privacy-status-input"
                        name="scoringType"
                        [(ngModel)]="item.scoringOption.scoringType"
                      >
                        <option
                          *ngFor="let scoreType of scoringType"
                          value="{{ scoreType }}"
                        >
                          {{ scoreType }}
                        </option>
                      </select>
                    </div>
                    <!--end col-->
                    <div class="col-sm-auto col-lg-6">
                      <label
                        for="choices-privacy-status-input"
                        class="form-label"
                        >Matching Rule</label
                      >
                      <select
                        class="form-select"
                        data-choices
                        data-choices-search-false
                        name="matchingRule"
                        [(ngModel)]="item.scoringOption.matchingRule"
                      >
                        <option
                          *ngFor="let matchRule of matchingRule"
                          value="{{ matchRule }}"
                        >
                          {{ matchRule }}
                        </option>
                      </select>
                    </div>
                    <!--end col-->
                    <div class="col-sm-auto col-lg-6">
                      <label class="form-label" for="autoSizingInputGroup"
                        >Penalty</label
                      >
                      <div class="input-group">
                        <input
                          type="number"
                          min="0"
                          class="form-control"
                          placeholder="Penalty value"
                          name="penalty"
                          [(ngModel)]="item.scoringOption.penalty"
                        />
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-sm-auto col-lg-6">
                      <label class="form-label">
                        Minimum points on attempt
                      </label>
                      <input
                        type="number"
                        min="0"
                        class="form-control"
                        id="autoSizingInputGroup"
                        placeholder="no of attempts"
                        name="minimumScoreIfAttempted"
                        [(ngModel)]="item.scoringOption.minimumScoreIfAttempted"
                      />
                    </div>
                    <!--end col-->
                    <div class="col-sm-auto col-lg-6">
                      <label
                        for="choices-privacy-status-input"
                        class="form-label"
                        >Difficulty level</label
                      >
                      <select
                        class="form-select"
                        data-choices
                        data-choices-search-false
                        id="choices-privacy-status-input"
                        name="difficultyLevel"
                        [(ngModel)]="item.difficultyLevel"
                      >
                        <option
                          *ngFor="let difficulty of difficultyLevel"
                          value="{{ difficulty }}"
                        >
                          {{ difficulty }}
                        </option>
                      </select>
                    </div>
                    <!--end col-->
                    <div class="col-sm-auto col-lg-12">
                      <label class="form-label" for="maxWords">
                        Max words
                      </label>
                      <input
                        type="number"
                        min="0"
                        class="form-control"
                        placeholder="maximum number of words"
                        name="maxWords"
                        [(ngModel)]="item.maxWords"
                      />
                    </div>
                    <!--end col-->
                    <div class="col-sm-auto col-lg-6">
                      <div class="form-check mb-3">
                        <input
                          class="form-check-input mb-2"
                          type="checkbox"
                          name="allowCopy"
                          [(ngModel)]="item.allowCopy"
                        />
                        <label class="form-check-label"> Allow copy </label>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-sm-auto col-lg-6">
                      <div class="form-check mb-3">
                        <input
                          class="form-check-input mb-2"
                          type="checkbox"
                          name="allowPaste"
                          [(ngModel)]="item.allowPaste"
                        />
                        <label class="form-check-label"> Allow paste </label>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-sm-auto col-lg-6">
                      <div class="form-check mb-3">
                        <input
                          class="form-check-input mb-2"
                          type="checkbox"
                          name="allowCut"
                          [(ngModel)]="item.allowCut"
                        />
                        <label class="form-check-label" for="allowCut">
                          Allow cut
                        </label>
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-sm-auto col-lg-6">
                      <div class="form-check mb-3">
                        <input
                          class="form-check-input mb-2"
                          type="checkbox"
                          name="plainText"
                          [(ngModel)]="item.plainText"
                        />
                        <label class="form-check-label" for="plainText">
                          Plain text
                        </label>
                      </div>
                    </div>
                    <!--end col-->
                  </div>
                  <!--end row-->
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
  <!-- end card -->
</form>

<app-essay-preview
  *ngIf="preview === true"
  (returnPreviewData)="returnData($event)"
  [previewData]="previewData"
></app-essay-preview>
