<div class="row">
  <div class="card">
    <div class="card-header">
      <ul ngbNav #customNav="ngbNav" [activeId]="1" class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0"
        role="tablist">
        <li [ngbNavItem]="(currentUser.authorities.includes(Role.ADMIN) || currentUser.authorities.includes(Role.GROUP_ADMIN)) && 1" class="nav-item"
          *ngIf="currentUser.authorities.includes('ADMIN') || currentUser.authorities.includes('GROUP_ADMIN')">
          <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
            <i class="ri-user-settings-fill align-middle me-2 fs-4"></i>
            Account Settings
          </a>
          <ng-template ngbNavContent>
            <form action="javascript:void(0);" [formGroup]="accountSettingsForm" (ngSubmit)="submitAccountSetting()">
              <div class="row">
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label for="organizationName" class="form-label d-flex flex-row gap-1">Organization Name
                      <span class="text-danger fs-6">*</span></label>
                    <input type="text" class="form-control" id="organizationName" [ngClass]="{
                        'border border-danger':
                          accountSettingsForm.get('organizationName').invalid &&
                          accountSettingsForm.get('organizationName').touched
                      }" formControlName="organizationName" placeholder="Enter your organization name" value="" />
                  </div>
                </div>
                <!--end col-->
                <div class="mb-4 col-6">
                  <label class="form-label d-flex flex-row gap-1" for="country">Country <span
                      class="text-danger fs-6">*</span></label>
                  <select class="form-select form-select-md" id="country" (change)="setStates()"
                    formControlName="country" [ngClass]="{
                      'is-invalid': submitted && f['country'].errors
                    }" [ngClass]="{
                      'border border-danger':
                        accountSettingsForm.get('country').invalid &&
                        accountSettingsForm.get('country').touched
                    }" required>
                    <option disabled value="">Select Country</option>
                    <option class="text-uppercase" *ngFor="let country of countries" value="{{ country.country }}">
                      {{ country.country }}
                    </option>
                    <!-- <option value="">Istanbul</option>
                    <option value="">Jakarta</option> -->
                  </select>

                  <div class="invalid-feedback" align="left">
                    <div>Country is required!</div>
                  </div>
                </div>
                <!--end col-->
                <!-- Newly added input field -->
                <!-- <div class="col-lg-6">
                  <div class="mb-3">
                    <label
                      for="firstName"
                      class="form-label d-flex flex-row gap-1"
                      >First Name <span class="text-danger fs-6">*</span></label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="firstName"
                      formControlName="firstName"
                      placeholder="Enter your first name"
                      value=""
                    />
                  </div>
                </div> -->
                <!--end col-->
                <!-- <div class="col-lg-6">
                  <div class="mb-3">
                    <label
                      for="lastName"
                      class="form-label d-flex flex-row gap-1"
                      >Last Name <span class="text-danger fs-6">*</span></label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="lastName"
                      formControlName="lastName"
                      placeholder="Enter your last name"
                      value=""
                    />
                  </div>
                </div> -->
                <!--end col-->
                <!-- <div class="col-lg-6">
                  <div class="mb-3">
                    <label for="email" class="form-label d-flex flex-row gap-1"
                      >Email <span class="text-danger fs-6">*</span></label
                    >
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      formControlName="email"
                      placeholder="Enter your email"
                      value=""
                    />
                  </div>
                </div> -->
                <!--end col-->
                <!-- <div class="col-lg-6">
                  <div class="mb-3">
                    <label
                      for="phoneNumber"
                      class="form-label d-flex flex-row gap-1"
                      >Phone Number
                      <span class="text-danger fs-6">*</span></label
                    >
                    <input
                      type="tel"
                      class="form-control"
                      id="phoneNumber"
                      formControlName="phoneNumber"
                      placeholder="Enter your phone number"
                      value=""
                    />
                  </div>
                </div> -->
                <!--end col-->
                <div class="mb-4 col-6">
                  <label class="form-label d-flex flex-row gap-1" for="state">State <span
                      class="text-danger fs-6">*</span></label>
                  <select class="form-select form-select-md" id="state" formControlName="state" [ngClass]="{
                      'is-invalid': submitted && f['state'].errors
                    }" [ngClass]="{
                      'border border-danger':
                        accountSettingsForm.get('state').invalid &&
                        accountSettingsForm.get('state').touched
                    }" required>
                    <option disabled value="">Select State</option>
                    <option class="text-uppercase" *ngFor="let state of states" value="{{ state | uppercase }}">
                      {{ state }}
                    </option>
                    <!-- <option value="">Istanbul</option>
                    <option value="">Jakarta</option> -->
                  </select>

                  <div class="invalid-feedback" align="left">
                    <div>State is required!</div>
                  </div>
                </div>
                <!--end col-->
                <div class="mb-4 col-6">
                  <label class="form-label d-flex flex-row gap-1" for="industry">Industry <span
                      class="text-danger fs-6">*</span></label>
                  <select class="form-select form-select-md" formControlName="industry" id="industry" required
                    [ngClass]="{
                      'is-invalid': submitted && f['industry'].errors
                    }" [ngClass]="{
                      'border border-danger':
                        accountSettingsForm.get('industry').invalid &&
                        accountSettingsForm.get('industry').touched
                    }">
                    <option disabled value="">Select Industry</option>
                    <option *ngFor="let industry of industries" value="{{ industry }}">
                      {{ industry }}
                    </option>
                    <!-- <option value="">Istanbul</option>
                    <option value="">Jakarta</option> -->
                  </select>

                  <!-- <div class="invalid-feedback" align="left">
                            <div>Email is required</div>
                          </div> -->
                </div>
                <!--end col-->

                <div class="col-lg-6">
                  <div class="mb-3">
                    <label for="addressLine1" class="form-label">Address Line 1</label>
                    <input type="text" class="form-control" id="addressLine1" placeholder="Address Line1"
                      formControlName="addressLine1" />
                  </div>
                </div>
                <!--end col-->
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label for="addressLine2" class="form-label">Address Line 2</label>
                    <input type="text" class="form-control" id="addressLine2" placeholder="addressLine2"
                      formControlName="addressLine1" />
                  </div>
                </div>
                <!-- <div class="col-lg-6">
                  <div class="mb-3">
                    <label for="company" class="form-label"
                      >Company</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="company"
                      placeholder="conpany name"
                      value="multilent"
                    />
                  </div>
                </div> -->
                <!--end col-->

                <!-- <div [ngClass]="{'mt-2': hasError}" class="" #messageEl>
                      <p [ngClass]="{'alert alert-danger alert-dismissible fade show': hasError}"></p>
                    </div> -->

                <div class="col-lg-12">
                  <div class="hstack gap-2 justify-content-end">
                    <button type="submit" *ngIf="!isSubmittingAccountSetting" [disabled]="
                        accountSettingsForm.invalid ||
                        isSubmittingAccountSetting
                      " class="btn btn-primary">
                      Update
                    </button>
                    <button type="submit" *ngIf="isSubmittingAccountSetting" [disabled]="
                        accountSettingsForm.invalid ||
                        isSubmittingAccountSetting
                      " class="btn btn-primary">
                      Updating...
                    </button>
                    <button type="button" class="btn btn-soft-danger" (click)="resetAccountSettingForm()"
                      [routerLink]="['/examalpha/dashboard']" [disabled]="isSubmittingAccountSetting">
                      Cancel
                    </button>
                  </div>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </form>
          </ng-template>
        </li>
        <li [ngbNavItem]="(currentUser.authorities.includes(Role.ADMIN) || currentUser.authorities.includes(Role.GROUP_ADMIN)) && 2" class="nav-item"
          *ngIf="currentUser.authorities.includes('ADMIN') || currentUser.authorities.includes('GROUP_ADMIN')">
          <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
            <i class="ri-palette-fill me-2 align-middle fs-4"></i>
            Branding
          </a>
          <ng-template ngbNavContent>
            <app-branding></app-branding>
          </ng-template>
        </li>
        <li [ngbNavItem]="currentUser.authorities.includes(Role.ADMIN) && 3" class="nav-item"
          *ngIf="currentUser.authorities.includes('ADMIN') || currentUser.authorities.includes('GROUP_ADMIN')">
          <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
            <i class="ri-shield-fill me-2 align-middle fs-4"></i>
            Security
          </a>
          <ng-template ngbNavContent>
            <div class="mb-4 pb-2">
              <h5 class="card-title text-decoration-underline mb-3">
                Security:
              </h5>
              <div class="d-flex flex-column flex-sm-row mb-4 mb-sm-0">
                <div class="flex-grow-1">
                  <h6 class="fs-14 mb-1">Two-factor Authentication</h6>
                  <p class="text-muted">
                    Two-factor authentication is an enhanced security meansur.
                    Once enabled, you'll be required to give two types of
                    identification when you log into Google Authentication and
                    SMS are Supported.
                  </p>
                </div>
                <div class="flex-shrink-0 ms-sm-3">
                  <a href="javascript:void(0);" class="btn btn-sm btn-primary">Enable Two-facor Authentication</a>
                </div>
              </div>

              <!-- <div class="d-flex flex-column flex-sm-row mb-4 mb-sm-0 mt-2">
                <div class="flex-grow-1">
                  <h6 class="fs-14 mb-1">Secondary Verification</h6>
                  <p class="text-muted">
                    The first factor is a password and the second commonly
                    includes a text with a code sent to your smartphone, or
                    biometrics using your fingerprint, face, or retina.
                  </p>
                </div>
                <div class="flex-shrink-0 ms-sm-3">
                  <a href="javascript:void(0);" class="btn btn-sm btn-primary">Set up secondary method</a>
                </div>
              </div> -->

              <!-- <div class="d-flex flex-column flex-sm-row mb-4 mb-sm-0 mt-2">
                <div class="flex-grow-1">
                  <h6 class="fs-14 mb-1">Backup Codes</h6>
                  <p class="text-muted mb-sm-0">
                    A backup code is automatically generated for you when you
                    turn on two-factor authentication through your iOS or
                    Android Twitter app. You can also generate a backup code
                    on twitter.com.
                  </p>
                </div>
                <div class="flex-shrink-0 ms-sm-3">
                  <a href="javascript:void(0);" class="btn btn-sm btn-primary">Generate backup codes</a>
                </div>
              </div> -->
            </div>

            <!-- <div class="mb-3">
              <h5 class="card-title text-decoration-underline mb-3">
                Application Notifications:
              </h5>
              <ul class="list-unstyled mb-0">
                <li class="d-flex">
                  <div class="flex-grow-1">
                    <label for="directMessage" class="form-check-label fs-14">Direct messages</label>
                    <p class="text-muted">Messages from people you follow</p>
                  </div>
                  <div class="flex-shrink-0">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" role="switch" id="directMessage" checked />
                    </div>
                  </div>
                </li>
                <li class="d-flex mt-2">
                  <div class="flex-grow-1">
                    <label class="form-check-label fs-14" for="desktopNotification">
                      Show desktop notifications
                    </label>
                    <p class="text-muted">
                      Choose the option you want as your default setting.
                      Block a site: Next to "Not allowed to send
                      notifications," click Add.
                    </p>
                  </div>
                  <div class="flex-shrink-0">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" role="switch" id="desktopNotification" checked />
                    </div>
                  </div>
                </li>
                <li class="d-flex mt-2">
                  <div class="flex-grow-1">
                    <label class="form-check-label fs-14" for="emailNotification">
                      Show email notifications
                    </label>
                    <p class="text-muted">
                      Under Settings, choose Notifications. Under Select an
                      account, choose the account to enable notifications for.
                    </p>
                  </div>
                  <div class="flex-shrink-0">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" role="switch" id="emailNotification" />
                    </div>
                  </div>
                </li>
                <li class="d-flex mt-2">
                  <div class="flex-grow-1">
                    <label class="form-check-label fs-14" for="chatNotification">
                      Show chat notifications
                    </label>
                    <p class="text-muted">
                      To prevent duplicate mobile notifications from the Gmail
                      and Chat apps, in settings, turn off Chat notifications.
                    </p>
                  </div>
                  <div class="flex-shrink-0">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" role="switch" id="chatNotification" />
                    </div>
                  </div>
                </li>
                <li class="d-flex mt-2">
                  <div class="flex-grow-1">
                    <label class="form-check-label fs-14" for="purchaesNotification">
                      Show purchase notifications
                    </label>
                    <p class="text-muted">
                      Get real-time purchase alerts to protect yourself from
                      fraudulent charges.
                    </p>
                  </div>
                  <div class="flex-shrink-0">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" role="switch" id="purchaesNotification" />
                    </div>
                  </div>
                </li>
              </ul>
            </div> -->

            <div>
              <h5 class="card-title text-decoration-underline mb-3">
                Delete This Account:
              </h5>
              <p class="text-muted">
                Enter the name of your organization into the box below then
                click the button. A mail will be sent to you verify your action.
              </p>
              <div>
                <input type="text" class="form-control" id="passwordInput" placeholder="Enter your password"
                  [value]="inputtedOrganizationNameToDelete" [(ngModel)]="inputtedOrganizationNameToDelete"
                  style="max-width: 265px" />
              </div>
              <div class="hstack gap-2 mt-3">
                <button type="button" class="btn btn-soft-danger" (click)="deleteAccount()"
                  [disabled]="inputtedOrganizationNameToDelete !== organizationName">
                  Close & Delete This Account
                </button>
                <a href="javascript:void(0);" class="btn btn-light" [routerLink]="['/examalpha/dashboard']">Cancel</a>
              </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="currentUser.authorities.includes(Role.ADMIN) ? 4 : 1" class="nav-item"
          *ngIf="!currentUser.authorities.includes(Role.CENTER_ADMIN)">
          <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
            <i class="ri-key-fill align-middle me-2 fs-4"></i>
            Change Password Application Notifications:
          </a>
          <ng-template ngbNavContent>
            <form [formGroup]="changePasswordForm" action="javascript:void(0);" (ngSubmit)="submitChangePassword()">
              <div class="row g-2">
                <div class="col-lg-4">
                  <div>
                    <label for="oldpasswordInput" class="form-label d-flex flex-row gap-1">Old Password<span
                        class="text-danger">*</span></label>
                    <input type="password" class="form-control" id="oldpasswordInput" formControlName="oldPassword"
                      [ngClass]="{
                        'border border-danger':
                          changePasswordForm.get('oldPassword').touched &&
                          changePasswordForm.get('oldPassword').invalid
                      }" placeholder="Enter current password" />
                  </div>
                </div>
                <!--end col-->
                <div class="col-lg-4">
                  <div>
                    <label for="newpasswordInput" class="form-label d-flex flex-row gap-1">New Password<span
                        class="text-danger">*</span></label>
                    <input type="password" class="form-control" [ngClass]="{
                        'border border-danger':
                          changePasswordForm.get('newPassword').touched &&
                          changePasswordForm.get('newPassword').invalid
                      }" id="newpasswordInput" formControlName="newPassword" placeholder="Enter new password" />
                  </div>
                </div>
                <!--end col-->
                <div class="col-lg-4">
                  <div>
                    <label for="confirmpasswordInput" class="form-label d-flex flex-row gap-1">Confirm Password<span
                        class="text-danger">*</span></label>
                    <input type="password" class="form-control" formControlName="confirmPassword" [ngClass]="{
                        'border border-danger':
                          (changePasswordForm.get('confirmPassword').touched &&
                          changePasswordForm.get('confirmPassword').invalid) || (changePasswordForm.errors?.['passwordMismatch'] &&
                        changePasswordForm.get('confirmPassword').touched)
                      }" id="confirmpasswordInput" placeholder="Confirm password" />
                    <span *ngIf="
                        changePasswordForm.errors?.['passwordMismatch'] &&
                        changePasswordForm.get('confirmPassword').touched
                      " class="fs-6 text-danger">Password does not match</span>
                  </div>
                </div>
                <!--end col-->
                <!-- <div class="col-lg-12">
                  <div class="mb-3">
                    <a
                      href="javascript:void(0);"
                      class="link-primary text-decoration-underline"
                      >Forgot Password ?</a
                    >
                  </div>
                </div> -->
                <!--end col-->
                <div class="col-lg-12">
                  <div class="text-end">
                    <button type="submit" class="btn btn-success" [disabled]="changePasswordForm.invalid"
                      *ngIf="!isChangingPassword">
                      Change Password
                    </button>
                    <button type="submit" class="btn btn-success" [disabled]="isChangingPassword"
                      *ngIf="isChangingPassword">
                      Updating Password...
                    </button>
                  </div>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </form>
            <!-- <div class="mt-4 mb-3 border-bottom pb-2">
              <div class="float-end">
                <a href="javascript:void(0);" class="link-primary"
                  >All Logout</a
                >
              </div>
              <h5 class="card-title">Login History</h5>
            </div>
            <div class="d-flex align-items-center mb-3">
              <div class="flex-shrink-0 avatar-sm">
                <div
                  class="avatar-title bg-light text-primary rounded-3 fs-18"
                >
                  <i class="ri-smartphone-line"></i>
                </div>
              </div>
              <div class="flex-grow-1 ms-3">
                <h6>iPhone 12 Pro</h6>
                <p class="text-muted mb-0">
                  Los Angeles, United States - March 16 at 2:47PM
                </p>
              </div>
              <div>
                <a href="javascript:void(0);">Logout</a>
              </div>
            </div>
            <div class="d-flex align-items-center mb-3">
              <div class="flex-shrink-0 avatar-sm">
                <div
                  class="avatar-title bg-light text-primary rounded-3 fs-18"
                >
                  <i class="ri-tablet-line"></i>
                </div>
              </div>
              <div class="flex-grow-1 ms-3">
                <h6>Apple iPad Pro</h6>
                <p class="text-muted mb-0">
                  Washington, United States - November 06 at 10:43AM
                </p>
              </div>
              <div>
                <a href="javascript:void(0);">Logout</a>
              </div>
            </div>
            <div class="d-flex align-items-center mb-3">
              <div class="flex-shrink-0 avatar-sm">
                <div
                  class="avatar-title bg-light text-primary rounded-3 fs-18"
                >
                  <i class="ri-smartphone-line"></i>
                </div>
              </div>
              <div class="flex-grow-1 ms-3">
                <h6>Galaxy S21 Ultra 5G</h6>
                <p class="text-muted mb-0">
                  Conneticut, United States - June 12 at 3:24PM
                </p>
              </div>
              <div>
                <a href="javascript:void(0);">Logout</a>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <div class="flex-shrink-0 avatar-sm">
                <div
                  class="avatar-title bg-light text-primary rounded-3 fs-18"
                >
                  <i class="ri-macbook-line"></i>
                </div>
              </div>
              <div class="flex-grow-1 ms-3">
                <h6>Dell Inspiron 14</h6>
                <p class="text-muted mb-0">
                  Phoenix, United States - July 26 at 8:10AM
                </p>
              </div>
              <div>
                <a href="javascript:void(0);">Logout</a>
              </div>
            </div> -->
          </ng-template>
        </li>
        <li [ngbNavItem]="currentUser.authorities.includes(Role.ADMIN) ? 5 : 2" class="nav-item">
          <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
            <i class="ri-user-line align-middle me-2 fs-4"></i>
            Personal Info
          </a>
          <ng-template ngbNavContent>
            <form #updateUserDetailForm="ngForm" novalidate>
              <div class="row">
                <div *ngIf="userDetail.username" class="col-12">
                  <div class="mb-3">
                    <label for="email" class="form-label">Username</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Enter username"
                      value="{{ userDetail.username }}" [(ngModel)]="userDetail.username"
                      [disabled]="(!currentUser.authorities.includes('ADMIN') && !currentUser.authorities.includes('GROUP_ADMIN'))" />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstnameInput" name="firstName"
                      placeholder="Enter your firstname" value="{{ userDetail.firstName }}"
                      [(ngModel)]="userDetail.firstName" />
                  </div>
                </div>
                <!--end col-->
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastnameInput" name="lastName"
                      placeholder="Enter your lastname" value="{{ userDetail.lastName }}"
                      [(ngModel)]="userDetail.lastName" />
                  </div>
                </div>
                <!--end col-->
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label for="phone" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" name="phone" id="phone"
                      placeholder="Enter your phone number" value="{{ userDetail.phone }}"
                      [(ngModel)]="userDetail.phone" />
                  </div>
                </div>
                <!--end col-->
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email"
                      value="{{ userDetail.email }}" [(ngModel)]="userDetail.email" />
                  </div>
                </div>
                <!--end col-->
                <div class="col-lg-12">
                  <div class="hstack gap-2 justify-content-end">
                    <button *ngIf="!updatingPersonalInfo" type="button" (click)="updateUserDetails()"
                      class="btn btn-primary">
                      Update
                    </button>
                    <button *ngIf="updatingPersonalInfo" class="btn btn-outline-primary btn-load"
                      [disabled]="updatingPersonalInfo">
                      <span class="d-flex align-items-center">
                        <span class="spinner-border flex-shrink-0" role="status">
                          <span class="visually-hidden">Saving...</span>
                        </span>
                        <span class="flex-grow-1 ms-2"> Saving... </span>
                      </span>
                    </button>
                    <button type="button" (click)="cancel()" class="btn btn-danger" [disabled]="updatingPersonalInfo">
                      Cancel
                    </button>
                  </div>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
            </form>
          </ng-template>
        </li>
      </ul>
    </div>
    <div class="card-body p-4">
      <div class="tab-content">
        <div [ngbNavOutlet]="customNav"></div>
      </div>
    </div>
  </div>
</div>

<ng-template #deleteAccountConfirmationModal let-modal>
  <div class="modal-header">
    <h3 class="modal-title">Confirm Account Delete</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body px-4">
    <div class="alert alert-info">
      Are you sure you want to delete your account ? <br /> <strong>NOTE:</strong> You can send your complaints to us if
      any and we will get back to you to resolve any complaints you have.
    </div>

    <span>Complain</span>
    <!-- <input #groupName type="text" class="form-control" id="firstnameInput" placeholder="Enter your group name"> -->
    <textarea class="form-control" rows="5" placeholder="Enter your complain here..."></textarea>

    <!-- <p class="mt-3 mb-0">Are you sure you want to delete your account ? <br/> Send your complaints to us and we will get back to you to resolve any complaints you have</p> -->
  </div>
  <div class="card-footer">
    <div class="d-flex gap-2 justify-content-between">
      <!-- <button type="button" class="btn btn-secondary d-flex gap-1 align-items-center" data-bs-dismiss="modal"
        (click)="modal.close('Close click'); pendingAccountDelete = null">
        <i class="ri-close-line"></i>Cancel
      </button> -->

      <button type="button" class="btn btn-secondary d-flex gap-1 align-items-center" data-bs-dismiss="modal"
        (click)="sendComplain()">
        <i class="ri-close-line"></i>Send Complain
      </button>

      <div class="d-flex flex-row gap-2">
        <button type="button" class="btn btn-danger d-flex gap-1 align-items-center" data-bs-dismiss="modal"
          (click)="proceedWithDelete()">
          <i class="ri-delete-bin-line"></i>Delete Account
        </button>
        <button type="button" class="btn btn-danger d-flex gap-1 align-items-center" data-bs-dismiss="modal"
          (click)="proceedWithDelete()">
          <i class="ri-delete-bin-line"></i>Proceed
        </button>
      </div>

    </div>
  </div>
</ng-template>