<app-breadcrumbs title="TAG_ANALYSIS" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div *ngIf="!analysis" class="d-flex align-items-center justify-content-center" style="height: 60vh">
  <div class="d-flex align-items-center gap-2">
    <div class="spinner-border text-info fs-18" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <span class="text-info text-center fs-16 flex-grow-1 ms-2">Loading tag analysis...</span>
  </div>
</div>


<div class="d-flex align-items-center justify-content-between gap-2 mb-3">
  <div class="d-flex align-items-center flex-row gap-2">
    <!-- <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
      height="24" fill="none" viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M5 12h14M5 12l4-4m-4 4 4 4" />
    </svg>
    <a (click)="routeBack()">Back to Tag questions</a> -->
        <button class="btn mb-2 btn-outline-info" (click)="routeBack()">
      <i class="ri-arrow-left-line"></i>Back
    </button>
  </div>
  <h4 *ngIf="analysis" class="card-title" style="cursor: default">
    <span title="SUBJECT">{{ analysis.subjectName | uppercase }}</span> | <span title="TAG">{{ currentTag | uppercase
      }}</span><span title="TOTAL QUESTIONS">({{ analysis.totalItems }})</span>
  </h4>
</div>

<div *ngIf="analysis" class="card">


  <p-table [value]="analysis && analysis.topics" dataKey="name" responsiveLayout="scroll" [scrollable]="true">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 5px" pFrozenColumn></th>
        <th style="width: 300px" pFrozenColumn pSortableColumn="topicName">
          Topic <p-sortIcon field="topicName"></p-sortIcon>
        </th>

        <th pSortableColumn="totalItems">
          Total Ques. <p-sortIcon field="totalItems"></p-sortIcon>
        </th>
        <th pSortableColumn="totalItemsAwaitingModeration">
          Total Awaiting Mod.
          <p-sortIcon field="totalItemsAwaitingModeration"></p-sortIcon>
        </th>

        <!-- <th pSortableColumn="inventoryStatus">
          Total Rejected <p-sortIcon field="inventoryStatus"></p-sortIcon>
        </th> -->
        <th pSortableColumn="totalItemsPublished">
          Total Pub.<p-sortIcon field="totalItemsPublished"></p-sortIcon>
        </th>
        <th pSortableColumn="totalItemsInRecycle">
          Total Recy.
          <p-sortIcon field="totalItemsInRecycle"></p-sortIcon>
        </th>
        <!-- <th pSortableColumn="totalItemsUsed">
          Item Usage Count <p-sortIcon field="totalItemsUsed"></p-sortIcon>
        </th> -->
        <th pSortableColumn="totalItemsDraft">
          Total Drf. <p-sortIcon field="totalItemsDraft"></p-sortIcon>
        </th>
        <!-- <th pSortableColumn="inventoryStatus">
          Total Passages <p-sortIcon field="inventoryStatus"></p-sortIcon>
        </th>
        <th pSortableColumn="inventoryStatus">
          Total Passages Awaiting Moderation
          <p-sortIcon field="inventoryStatus"></p-sortIcon>
        </th>
        <th pSortableColumn="inventoryStatus">
          Total Passages In Draft
          <p-sortIcon field="inventoryStatus"></p-sortIcon>
        </th>
        <th pSortableColumn="inventoryStatus">
          Total Passages Published
          <p-sortIcon field="inventoryStatus"></p-sortIcon>
        </th>

        <th pSortableColumn="inventoryStatus">
          Total Passages Used <p-sortIcon field="inventoryStatus"></p-sortIcon>
        </th> -->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-topicAnalysis let-expanded="expanded" let-i="rowIndex">
      <tr>
        <td style="width: 10px" pFrozenColumn>
          <i *ngIf="activeRow === i" class="la la-angle-down cursor" (click)="showSubTopic(i)"></i>
          <i *ngIf="activeRow !== i" class="la la-angle-right cursor" (click)="showSubTopic(i)"></i>
        </td>
        <td style="width: 500px" pFrozenColumn (click)="showSubTopic(i)" class="text-truncate cursor"
          [ngClass]="{ 'text-primary': activeRow === i }">
          <i class="la la-book"></i>

          {{ topicAnalysis.topicName | uppercase }}
        </td>
        <td>
          {{ topicAnalysis.totalItems }}
        </td>
        <td>{{ topicAnalysis.totalItemsAwaitingModeration }}</td>

        <td>
          {{ topicAnalysis.totalItemsPublished }}
        </td>
        <td>
          {{ topicAnalysis.totalItemsInRecycle }}
        </td>
        <td>
          {{ topicAnalysis.totalItemsDraft }}
        </td>
      </tr>

      <ng-container *ngIf="activeRow === i">
        <tr style="border: none;">
          <th style="width: 10px" pFrozenColumn style="border: none"></th>
          <!-- <th style="border: none" class="text-primary">SUBTOPICS</th> -->
        </tr>
        <tr *ngFor="let subTopic of topicAnalysis.subtopics" style="margin-left: 30px;">
          <td style="width: 10px" pFrozenColumn style="border: none"></td>
          <td style="width: 500px" pFrozenColumn class="text-truncate">
            {{ subTopic.subtopicName | uppercase }}
          </td>
          <td>{{ subTopic.totalItems }}</td>
          <td>{{ subTopic.totalItemsAwaitingModeration }}</td>

          <td>{{ subTopic.totalItemsPublished }}</td>
          <td>{{ subTopic.totalItemsInRecycle }}</td>
          <td>{{ subTopic.totalItemsDraft }}</td>
        </tr>
      </ng-container>
    </ng-template>
  </p-table>

  <!-- <div class="card-header">
    <h4 class="card-title" style="cursor: default">
      <span title="SUBJECT">{{ analysis.subjectName | uppercase }}</span> |
      <span title="TAG">{{ currentTag | uppercase }}</span>
      <span title="TOTAL QUESTIONS">({{ analysis.totalItems }})</span>
    </h4>
  </div>
  <div class="card-body">
    <ngx-simplebar class="px-3 mx-n3 mb-2" style="max-height: 400px">
      <div *ngFor="let topic of analysis.topics" class="d-flex mb-4">
        <div class="flex-grow-1 ms-3">
          <div class="fw-bold fs-16 mb-2">
            <span class="text-uppercase">Topic: </span
            >{{ topic.topicName | uppercase }}
          </div>
          <div class="d-flex flex-column gap-2">
            <span class="text-primary fs-12"
              >TOTAL QUESTIONS: {{ topic.totalItems }}</span
            >
            <span class="text-success fs-12"
              >TOTAL PUBLISHED QUESTIONS: {{ topic.totalItemsPublished }}</span
            >
            <span class="text-danger fs-12"
              >TOTAL QUESTIONS AWAITING_MODERATION:
              {{ topic.totalItemsAwaitingModeration }}</span
            >
            <span class="text-warning fs-12"
              >TOTAL DRAFT ITEMS: {{ topic.totalItemsDraft }}</span
            >
            <span class="text-info fs-12"
              >TOTAL QUESTIONS IN RECYCLE: {{ topic.totalItemsInRecycle }}</span
            >
          </div>
          <div
            *ngFor="let subtopic of topic.subtopics"
            class="d-flex mx-5 my-4"
          >
            <div>
              <div>
                <div class="fw-bold fs-16 mb-2">
                  <span class="text-uppercase">Subtopic: </span
                  >{{ subtopic.subtopicName | uppercase }}
                </div>
              </div>
              <div class="d-flex flex-column gap-2 mb-3">
                <span class="text-secondary"
                  >Total Questions: {{ subtopic.totalItems }}</span
                >
                <span class="text-secondary"
                  >Total Published Questions:
                  {{ subtopic.totalItemsPublished }}</span
                >
                <span class="text-secondary">
                  Total Questions Awaiting_Moderation:
                  {{ subtopic.totalItemsAwaitingModeration }}</span
                >
                <span class="text-secondary"
                  >Total Draft Questions: {{ subtopic.totalItemsDraft }}</span
                >
                <span class="text-secondary"
                  >Total Questions In Recycle:
                  {{ subtopic.totalItemsInRecycle }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </ngx-simplebar>
  </div> -->
</div>
<!-- end card body -->

<app-rightsidebar [currentView]="'Tags'" [pageGuide]=""
  (settingsButtonClicked)="onSettingsButtonClicked()"></app-rightsidebar>