<div
  class="auth-page-wrapper d-flex justify-content-center align-items-center min-vh-100"
>
  <!-- <div class="bg-overlay"></div> -->
  <!-- auth-page content -->
  <div class="auth-page-content overflow-hidden pt-lg-3 pt-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="card overflow-hidden border-0">
            <div class="row g-0">
              <div class="col-lg-6">
                <div
                  class="p-lg-5 p-3 d-flex flex-column justify-content-center"
                >
                  <div class="mt-sm-5 mb-3 text-white-50">
                    <div>
                      <a routerLink="/" class="d-inline-block auth-logo">
                        <img
                          src="/assets/logo/EXPryLogoHor.png"
                          alt=""
                          height="20"
                        />
                      </a>
                    </div>
                  </div>
                  <div>
                    <h5 class="text-primary" style="font-size: 15px">
                      {{
                        step === 1
                          ? "Create username and password"
                          : "Credentials created sucessfully"
                      }}
                    </h5>
                  </div>

                  <div class="mt-2">
                    <form
                      *ngIf="step === 1"
                      [formGroup]="credentialsForm"
                      (ngSubmit)="onSubmit()"
                    >
                      <div class="row">
                        <!-- username -->
                        <div class="col-12">
                          <div class="mb-3">
                            <label for="username" class="form-label"
                              >Username</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              id="username"
                              placeholder="Enter username "
                              formControlName="username"
                              [ngClass]="{
                                'is-invalid':
                                  checkSubmit && f['username'].errors
                              }"
                            />
                            <div
                              *ngIf="checkSubmit && f['username'].errors"
                              class="invalid-feedback"
                              align="left"
                            >
                              <div *ngIf="f['username'].errors['required']">
                                Username is required
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- password -->
                        <div class="col-12">
                          <div class="mb-3">
                            <label for="password" class="form-label"
                              >Password</label
                            >
                            <input
                              type="password"
                              class="form-control"
                              id="password"
                              placeholder="Enter Password "
                              formControlName="password"
                              [ngClass]="{
                                'is-invalid':
                                  checkSubmit && f['password'].errors
                              }"
                            />
                            <div
                              *ngIf="checkSubmit && f['password'].errors"
                              class="invalid-feedback"
                              align="left"
                            >
                              <div *ngIf="f['password'].errors['required']">
                                Password is required
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div *ngIf="error" class="mt-2">
                        <p
                          class="alert alert-danger alert-dismissible fade show"
                        >
                          {{ error_msg }}
                        </p>
                      </div>

                      <div class="row">
                        <div class="mt-2 col-12">
                          <button
                            class="btn btn-primary w-100"
                            type="submit"
                            [disabled]="submitted === true"
                          >
                            {{ submitted === false ? "Save" : "Processing..." }}
                          </button>
                        </div>
                      </div>

                      <div class="mt-3 text-start">
                        <p class="mb-0">
                          Already have an account ?
                          <a
                            routerLink="/auth/sign-up"
                            class="fw-semibold text-primary text-decoration-underline"
                          >
                            Login</a
                          >
                        </p>
                      </div>
                    </form>

                    <ng-container *ngIf="step === 2">
                      <div class="row mt-3">
                        <div class="col-lg-12 mt-2 col-sm-12 col-md-12">
                          <p>Username and password created successfully</p>
                          <div class="d-flex justify-content-center">
                            <img
                              style="position: absolute"
                              src="/assets/images/svg/success-check-mark.svg"
                              alt=""
                              srcset=""
                            />
                          </div>

                          <div
                            class="d-flex justify-content-center"
                            style="position: relative"
                          >
                            <img
                              style="height: 409px"
                              src="/assets/images/svg/registration-success.svg"
                              alt=""
                              srcset=""
                            />
                          </div>

                          <div
                            class=""
                            style="
                              position: absolute;
                              bottom: 170px;
                              width: 100%;
                            "
                          >
                            <button
                             (click)="openMailApp()"
                              class="btn btn-primary w-100"
                              style="width: 100%"
                            >
                              Go to mail
                            </button>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
              <!-- end col -->

              <div class="col-lg-6">
                <div class="p-lg-5 p-5 d-lg-block d-none d-lg-block">
                  <img
                    src="assets/logo/account_creation_vector.png"
                    alt=""
                    style="max-width: 100%"
                  />
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- end card -->
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end auth page content -->

  <!-- footer -->
  <!-- <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center">
            <p class="mb-0">
              &copy; {{ 2020 }} Velzon. Crafted with
              <i class="mdi mdi-heart text-danger"></i> by Multilent.
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer> -->
  <!-- end Footer -->
</div>
