
<div class="d-flex align-items-center gap-2 mb-3">
    <button class="btn btn-outline-info" (click)="routeBack()">
      <i class="ri-arrow-left-line align-middle me-2"></i>Back
    </button>

    <div class="dropdown ms-auto" ngbDropdown>
      <button class="btn btn-primary" type="button" id="exportDropdown" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
        <i class="ri-download-2-line align-middle me-2"></i>Export
      </button>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="exportDropdown" ngbDropdownMenu>
        <li>
          <button class="dropdown-item" (click)="exportExcel()">
            <i class="ri-file-excel-2-line align-middle me-2 text-success"></i> Export Excel
          </button>
        </li>
      </ul>
    </div>
</div>

<app-breadcrumbs
  title="SUBJECTS - {{ subjectName | uppercase }} | ANALYSIS "
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>

<div class="card card-body">
  <p-table [value]="subjectAnalysis && subjectAnalysis.topics" dataKey="name" responsiveLayout="scroll"
    [scrollable]="true">
    <ng-template pTemplate="header">
      <tr>
        <th class="text-nowrap" style="max-width: 100px" pFrozenColumn>
          <span></span>
        </th>
        <th class="text-nowrap" style="min-width: 200px; max-width: 200px;" pFrozenColumn pSortableColumn="topicName">
          Topic <p-sortIcon field="topicName"></p-sortIcon>
        </th>

        <th class="text-nowrap" pSortableColumn="totalItems">
          <!-- Total Questions <p-sortIcon field="totalItems"></p-sortIcon> -->
           T. QNTY. <p-sortIcon field="totalItems"></p-sortIcon>
        </th>
        <th class="text-nowrap" pSortableColumn="totalItemsAwaitingModeration">
          <!-- Total Awaiting Moderation <p-sortIcon field="totalItemsAwaitingModeration"></p-sortIcon> -->
           T. Awaiting Mod. <p-sortIcon field="totalItemsAwaitingModeration"></p-sortIcon>
        </th>

        <th class="text-nowrap" pSortableColumn="totalItemsRejected">
          <!-- Total Rejected <p-sortIcon field="totalItemsRejected"></p-sortIcon> -->
           T. Rejected <p-sortIcon field="totalItemsRejected"></p-sortIcon>
        </th>
        <th class="text-nowrap" pSortableColumn="totalItemsInRecycle">
          T. QNTY. In Recycle
          <p-sortIcon field="totalItemsInRecycle"></p-sortIcon>
        </th>
        <th class="text-nowrap" pSortableColumn="totalItemsUsed">
          <!-- Item Usage Count <p-sortIcon field="totalItemsUsed"></p-sortIcon> -->
          Usage Count <p-sortIcon field="totalItemsUsed"></p-sortIcon>
        </th>
        <th class="text-nowrap" pSortableColumn="totalItemsDraft">
          <!-- Total Items in Draft <p-sortIcon field="totalItemsDraft"></p-sortIcon> -->
           T. Drafts <p-sortIcon field="totalItemsDraft"></p-sortIcon>
        </th>
        <th class="text-nowrap" pSortableColumn="totalPassages">
          <!-- Total Passages <p-sortIcon field="totalPassages"></p-sortIcon> -->
           T. Passages <p-sortIcon field="totalPassages"></p-sortIcon>
        </th>
        <th class="text-nowrap" pSortableColumn="totalPassagesDraft">
          <!-- Total Passages In Draft <p-sortIcon field="totalPassagesDraft"></p-sortIcon> -->
           T. Passage Drafts <p-sortIcon field="totalPassagesDraft"></p-sortIcon>
        </th>
        <th class="text-nowrap" pSortableColumn="totalPassagesPublished">
          <!-- Total Passages Published <p-sortIcon field="totalPassagesPublished"></p-sortIcon> -->
           T. Published Passages <p-sortIcon field="totalPassagesPublished"></p-sortIcon>
        </th>

        <th class="text-nowrap" pSortableColumn="totalPassagesUsed">
          <!-- Total Passages Used <p-sortIcon field="totalPassagesUsed"></p-sortIcon> -->
           T. Passages Used <p-sortIcon field="totalPassagesUsed"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-subjectAnalysis let-expanded="expanded" let-i="rowIndex">
      <tr>
        <td style="max-width: 50px" pFrozenColumn>
          <i *ngIf="activeRow === i" class="la la-angle-down cursor" (click)="showSubTopic(i)"></i>
          <i *ngIf="activeRow !== i" class="la la-angle-right cursor" (click)="showSubTopic(i)"></i>
        </td>
        <td
          style="min-width: 200px; max-width: 200px;"
          pFrozenColumn
          (click)="showSubTopic(i)"
          class="text-truncate cursor"
          title="{{ subjectAnalysis.topicName | uppercase }}"
          [ngClass]="{ 'text-primary': activeRow === i }"
        >
          <i class="la la-book"></i>
          {{ subjectAnalysis.topicName | uppercase }}
        </td>
        <td>
          {{ subjectAnalysis.totalItems }}
        </td>
        <td>{{ subjectAnalysis.totalItemsAwaitingModeration }}</td>

        <td>{{ subjectAnalysis.totalItemsRejected }}</td>

        <td>
          {{ subjectAnalysis.totalItemsPublished }}
        </td>
        <td>
          {{ subjectAnalysis.totalItemsInRecycle }}
        </td>
        <td>
          {{ subjectAnalysis.totalItemsUsed }}
        </td>
        <!-- draft -->
        <td>
          {{ subjectAnalysis.totalItemsDraft }}
        </td>

        <!-- passages -->
        <td>
          {{ subjectAnalysis.totalPassages }}
        </td>
        <!-- passages awaiting mod -->
        <td>
          {{ subjectAnalysis.totalPassagesAwaitingModeration }}
        </td>
        <!-- passages in draft -->
        <td>
          {{ subjectAnalysis.totalPassagesDraft }}
        </td>
        <!-- passages pub -->
        <td>
          {{ subjectAnalysis.totalPassagesPublished }}
        </td>
        <!-- passages used -->
        <td>
          {{ subjectAnalysis.totalPassagesUsed }}
        </td>
      </tr>

      <ng-container *ngIf="activeRow === i">
        <tr style="border: none">
          <th style="max-width: 50px; border: none;" pFrozenColumn></th>
          <!-- <th style="border: none" class="text-primary">SUBTOPICS</th> -->
        </tr>
        <tr *ngFor="let subTopic of subjectAnalysis.subtopics">
          <td style="max-width: 50px; border: none;" pFrozenColumn></td>
          <td style="min-width: 200px; max-width: 200px;" pFrozenColumn class="text-truncate" title="{{ subTopic.subtopicName | uppercase }}">
            {{ subTopic.subtopicName | uppercase }}
          </td>
          <td>{{ subTopic.totalItems }}</td>
          <td>{{ subTopic.totalItemsAwaitingModeration }}</td>

          <td>{{ subTopic.totalItemsRejected }}</td>
          <td>{{ subTopic.totalItemsPublished }}</td>
          <td>{{ subTopic.totalItemsInRecycle }}</td>
          <td>{{ subTopic.totalItemsUsed }}</td>

          <!-- draft -->
          <td>
            {{ subTopic.totalItemsDraft }}
          </td>

          <!-- passages -->
          <td>
            {{ subTopic.totalPassages }}
          </td>

          <!-- passages awaiting moc -->
          <td>
            {{ subTopic.totalPassagesAwaitingModeration }}
          </td>
          <!-- passages in draft -->
          <td>
            {{ subTopic.totalPassagesDraft }}
          </td>
          <!-- passages pub -->
          <td>
            {{ subTopic.totalPassagesPublished }}
          </td>
          <!-- passages used -->
          <td>
            {{ subTopic.totalPassagesUsed }}
          </td>
        </tr>
      </ng-container>
    </ng-template>
  </p-table>
</div>