<form *ngIf="itemUtil.previewItem === false" #itemForm="ngForm">
  <div class="card">
    <div class="card-body">
      <div class="d-flex flex-wrap justify-content-between mb-5">
        <h3 class="card-title">
          {{ selectedItemType }} |
          <span class="text-muted">{{ formType }}</span>
        </h3>
        <div class="d-flex flex-wrap gap-2 float-end">
          <button
            type="button"
            (click)="doPreview(itemForm)"
            class="btn btn-outline-success waves-effect waves-light"
          >
            Preview
          </button>

          <div
            *ngIf="editData && currentUser.authorities.includes('AUTHOR')"
            class="btn-group"
            role="group"
            ngbDropdown
          >
            <button
              id="btnGroupDrop1"
              type="button"
              class="btn btn-primary dropdown-toggle arrow-none"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              ngbDropdownToggle
            >
              Save <i class="mdi mdi-chevron-down"></i>
            </button>
            <ul
              class="dropdown-menu"
              aria-labelledby="btnGroupDrop1"
              ngbDropdownMenu
            >
              <li style="cursor: pointer">
                <a class="dropdown-item" (click)="saveItem(itemForm, 'save')"
                  >Save</a
                >
              </li>
              <li style="cursor: pointer">
                <a class="dropdown-item" (click)="saveToDraft(itemForm)"
                  >Save as draft</a
                >
              </li>

            </ul>
          </div>

          <div
            ngbDropdown
            class="d-flex gap-2"
            *ngIf="
              editData &&
              (currentUser.authorities.includes('MODERATOR') ||
                currentUser.authorities.includes('ADMIN'))
            "
          >
            <button
              id="btnGroupDrop3"
              type="button"
              class="btn btn-primary dropdown-toggle arrow-none"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              ngbDropdownToggle
            >
              Save <i class="mdi mdi-chevron-down"></i>
            </button>
            <ul
              class="dropdown-menu"
              aria-labelledby="btnGroupDrop3"
              ngbDropdownMenu
            >
              <li
                style="cursor: pointer"
                *ngIf="editData.itemStatus === 'AWAITING_MODERATION'"
                (click)="openConfirmationModal(acceptConfirmationModal);"
              >
                <a class="dropdown-item">Approve</a>
              </li>

              <li
                style="cursor: pointer"
                *ngIf="editData.itemStatus === 'PUBLISHED'"
                (click)="updateItem(itemForm, 'save')"
              >
                <a class="dropdown-item">Save</a>
              </li>
              <li
                *ngIf="editData.itemStatus === 'AWAITING_MODERATION'"
                style="cursor: pointer"
                (click)="openConfirmationModal(rejectConfirmationModal);"
              >
                <a class="dropdown-item">Reject</a>
              </li>

              <li
                style="cursor: pointer"
                *ngIf="editData.itemStatus === 'DRAFT'"
              >
                <a class="dropdown-item" (click)="updateItem(itemForm, 'draft')"
                  >Save as Draft</a
                >
              </li>
              <li
                style="cursor: pointer"
                *ngIf="editData.itemStatus === 'DRAFT'"
              >
                <a class="dropdown-item" (click)="updateItem(itemForm, 'save')"
                  >Save</a
                >
              </li>
            </ul>
          </div>

          <div *ngIf="!editData" class="btn-group" role="group" ngbDropdown>
            <button
              id="btnGroupDrop1"
              type="button"
              class="btn btn-primary dropdown-toggle arrow-none"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              ngbDropdownToggle
            >
              Save <i class="mdi mdi-chevron-down"></i>
            </button>
            <ul
              class="dropdown-menu"
              aria-labelledby="btnGroupDrop1"
              ngbDropdownMenu
            >
              <li style="cursor: pointer">
                <a class="dropdown-item" (click)="saveItem(itemForm, 'save')"
                  >Save</a
                >
              </li>
              <li style="cursor: pointer">
                <a class="dropdown-item" (click)="saveToDraft(itemForm)"
                  >Save as draft</a
                >
              </li>
              <li style="cursor: pointer">
                <a class="dropdown-item" (click)="saveAndNew(itemForm)"
                  >Save and new</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="autoSizingInputGroup">Title</label>
        <input
          type="text"
          class="form-control"
          name="reference"
          [(ngModel)]="defaultItemProperties.reference"
          placeholder="Title"
        />
      </div>

      <div  class="mb-3">
        <label>Compose Question</label>
        <editor
          name="stimulus"
          id="abc"
          #stimulus="ngModel"
          [(ngModel)]="defaultItemProperties.stimulus"
          [init]="option"
          (onInit)="logEditor($event);"

        ></editor>
      </div>
    </div>
    <!--end row-->

    <div class="mb-3">
      <app-item-tag #tagRef (sendTags)="recieveTag($event)"></app-item-tag>
    </div>
  </div>
  <!-- end card -->
  <ng-template #acceptConfirmationModal let-modal>
    <div class="modal-body p-5">
      <h4 class="mb-4 text-center">Confirm Action Dialog</h4>
      <div class="row">
        <p class="text-center text-muted">
          Are you sure you want to accept this Question?
        </p>
      </div>
      <div class="d-flex justify-content-center gap-2 mt-2">
        <button
          type="button"
          (click)="modal.close('Close click')"
          class="btn btn-secondary"
        >
          No, Cancel
        </button>
        <button type="button" (click)="approveQuestion(itemForm)">
          Yes, accept It
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template #rejectConfirmationModal let-modal>
    <div class="modal-body p-5">
      <h4 class="mb-4 text-center">Confirm Action Dialog</h4>
      <div class="row">
        <p class="text-center text-muted">
          Are you sure you want to reject this Question?
        </p>
      </div>
      <div class="d-flex justify-content-center gap-2 mt-2">
        <button
          type="button"
          (click)="modal.close('Close click')"
          class="btn btn-secondary"
        >
          No, Cancel
        </button>
        <button
          type="button"
          (click)="openRejectionReasonModal(rejectionModal)"
        >
          Yes, reject It
        </button>
      </div>
    </div>
  </ng-template>

  <div class="card">
    <div class="live-preview">
      <ngb-accordion
        #acc="ngbAccordion"
        activeIds="static-1"
        [closeOthers]="true"
        class="custom-accordionwithicon accordion-border-box"
      >
        <ngb-panel id="static-1">
          <ng-template ngbPanelTitle class="accordion-header">
            <h2 class="accordion-header" id="gen-ques-headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#gen-ques-collapseOne"
                aria-expanded="false"
                aria-controls="gen-ques-collapseOne"
              >
                More options
              </button>
            </h2>
          </ng-template>
          <ng-template ngbPanelContent>
            <div class="accordion-body">
              <div class="live-preview">
                <div ngModelGroup="item.scoringOption">
                  <div class="row gy-2 gx-3 mb-3 align-items-center">
                    <div class="col-sm-auto col-lg-6">
                      <label class="form-label">Score</label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Score"
                        name="score"
                        [(ngModel)]="defaultItemProperties.scoringOption.score"
                      />
                    </div>
                    <!--end col-->
                    <div class="col-sm-auto col-lg-6">
                      <label
                        for="choices-privacy-status-input"
                        class="form-label"
                        >Scoring Type</label
                      >
                      <select
                        class="form-select"
                        data-choices
                        data-choices-search-false
                        id="choices-privacy-status-input"
                        name="scoringType"
                        [(ngModel)]="
                          defaultItemProperties.scoringOption.scoringType
                        "
                        
                      >
                        <option
                          *ngFor="let scoreType of scoringType"
                          value="{{ scoreType }}"

                          selected=" defaultItemProperties.scoringOption.matchingRule === matchRule "
                          
                        >
                          {{ scoreType }}
                        </option>
                      </select>
                    </div>
                    <!--end col-->
                    <div class="col-sm-auto col-lg-6">
                      <label
                        for="choices-privacy-status-input"
                        class="form-label"
                        >Matching Rule</label
                      >
                      <select
                        class="form-select"
                        data-choices
                        data-choices-search-false
                        name="matchingRule"
                        [(ngModel)]="
                          defaultItemProperties.scoringOption.matchingRule
                        "
                        disabled
                      >
                        <option
                          *ngFor="let matchRule of matchingRules"
                          value="{{ matchRule }}"

                          selected=" defaultItemProperties.scoringOption.matchingRule === matchRule "
                          disabled
                        >
                          {{ matchRule }}
                        </option>
                      </select>
                    </div>
                    <!--end col-->
                    <div class="col-sm-auto col-lg-6">
                      <label class="form-label" for="autoSizingInputGroup"
                        >Penalty</label
                      >
                      <div class="input-group">
                        <input
                          type="number"
                          min="0"
                          class="form-control"
                          placeholder="Penalty value"
                          name="penalty"
                          [(ngModel)]="
                            defaultItemProperties.scoringOption.penalty
                          "
                        />
                      </div>
                    </div>
                    <!--end col-->
                    <div class="col-sm-auto col-lg-6">
                      <label class="form-label">
                        Minimum points on attempt
                      </label>
                      <input
                        type="text"
                        class="form-control"
                        id="autoSizingInputGroup"
                        placeholder="no of attempts"
                        name="minimumScoreIfAttempted"
                        [(ngModel)]="
                          defaultItemProperties.scoringOption
                            .minimumScoreIfAttempted
                        "
                      />
                    </div>
                    <!--end col-->
                    <div class="col-sm-auto col-lg-6">
                      <label
                        for="choices-privacy-status-input"
                        class="form-label"
                        >Difficulty level</label
                      >
                      <select
                        class="form-select"
                        data-choices
                        data-choices-search-false
                        name="difficultyLevel"
                        [(ngModel)]="defaultItemProperties.difficultyLevel"
                      >
                        <option
                          *ngFor="let difficulty of difficultyLevels"
                          value="{{ difficulty }}"
                        >
                          {{ difficulty }}
                        </option>
                      </select>
                    </div>
                    <!--end col-->
                    <div class="col-sm-auto col-lg-6">
                      <div class="form-check mb-3">
                        <input
                          class="form-check-input mb-2"
                          type="checkbox"
                          name="autoScore"
                          [(ngModel)]="
                            defaultItemProperties.scoringOption.autoScore
                          "
                        />
                        <label class="form-check-label"> Auto Score </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
  <!-- end card -->
</form>

<app-cloze-radio-select-preview
  *ngIf="itemUtil.previewItem === true"
  [previewData]="previewData"
  [itemTrailInfo]="itemTrailInfo"
  (returnPreviewData)="returnPreviewData()"
></app-cloze-radio-select-preview>

<ng-template #rejectionModal let-modal>
  <div class="modal-body p-5">
    <form
      #questionRejectionForm="ngForm"
      (ngSubmit)="submitRejection(questionRejectionForm)"
    >
      <h4 class="text-center mb-4">Reason for Rejection</h4>
      <p class="text-muted text-center">
        provide a reason why you have rejected the question.
      </p>
      <div class="row mb-2">
        <label>Reason</label>
        <editor
          name="reason"
          [(ngModel)]="newRejectionReason.reason"
          initialValue="reason(s)...."
          [init]="{
            base_url: '/tinymce',
            height: 200,
            suffix: '.min',
            menubar: true,
            plugins: 'table quickbars lists autoresize',
            quickbars_insert_toolbars: false,
            branding: false,
            toolbar:
              'undo redo | formatselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent table quickimage quicklink'
          }"
        ></editor>
      </div>

      <div class="d-flex gap-2 float-end mt-4">
        <button
          type="button"
          class="btn btn-outline-primary d-flex gap-1 align-items-center"
          data-bs-dismiss="modal"
          (click)="modal.close('Close click')"
        >
          <i class="ri-close-line"></i>Close
        </button>
        <button
          *ngIf="!processingRejection"
          type="submit"
          class="btn btn-danger d-flex gap-1 align-items-center"
        >
          <i class=" las la-file-excel"></i>Reject
        </button>

        <ng-template [ngIf]="processingRejection">
          <button
            class="btn btn-outline-success btn-load"
            [disabled]="processingRejection"
          >
            <span class="d-flex align-items-center">
              <span class="spinner-border flex-shrink-0" role="status">
                <span class="visually-hidden">Saving...</span>
              </span>
              <span class="flex-grow-1 ms-2"> Saving... </span>
            </span>
          </button>
        </ng-template>
      </div>
    </form>
  </div>
</ng-template>
