<div class="px-3">
  <div class="card card-body" style="height: 62vh">
    <div class="row">
      <div class="col-lg-12 col-md-12      col-sm-12 mt-2">
        <div class="text-primary d-flex justify-content-between">
          <span class="fw-bold py-lg-2"
            >Question {{ currentQuestionNumber + 1 }}</span
          >
          <app-revisit-button
            [questionNumber]="currentQuestionNumber"
          ></app-revisit-button>
        </div>

        <span class="mt-3" [innerHtml]="this.getCurrentQuestion().passage_stimulus">
          <!-- {{ }} -->
        </span>
        <span
          class="fw-normal lh-2"
          style="
            /* height:55vh; */
            /* font-size: 16px; */
            overflow-y: auto;
            max-height: 10vh;
          "
          [innerHtml]="this.getCurrentQuestion().stimulus"
        >
        </span>
      </div>

      <div class="col-lg-12 col-md-12      col-sm-12">
        <div style="margin-bottom: 15%">
          <div class="card-body" style="overflow-y: scroll; max-height: 35vh">
            <div
              cdkDropList
              class="example-list"
              (cdkDropListDropped)="drop($event)"
            >
              <span
                class="p-2 w-100 user-select list-group-item move-cursor p-1"
                role="button"
                *ngFor="let option of this.getCurrentQuestion().options"
                cdkDrag
                [innerHtml]="option.label"
              >
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
