<div class="px-3">
  <div class="card card-body question-card">
    <div class="">
      <div class="text-primary d-flex justify-content-between">
        <span class="fw-bold py-lg-2">
          Question {{ currentQuestionNumber + 1 }}
        </span>
        <app-revisit-button
          [questionNumber]="currentQuestionNumber"
        ></app-revisit-button>
      </div>

      <ngx-simplebar style="height: 320px; overflow-x: hidden">
        <div class="row pt-3 pb-3">
          <div class="col-lg-12 col-md-12 col-sm-12 align-items-center">
            <span
              class="mt-3"
              [innerHtml]="this.getCurrentQuestion().passage_stimulus"
            ></span>
            <span
              class="mt-3"
              [innerHtml]="this.getCurrentQuestion().stimulus"
            ></span>

            <div class="preview-container">
              <img
                *ngIf="getCurrentQuestion().image_data"
                #previewImage
                [src]="getCurrentQuestion().image_data[0].url"
                class="preview-image"
                alt="Preview Image"
              />

              <div
                *ngFor="
                  let position of getCurrentQuestion().response_positions;
                  let i = index
                "
                class="preview-label"
                [style.left.%]="position.x"
                [style.top.%]="position.y"
                (drop)="onDrop($event, i)"
                (dragover)="allowDrop($event)"
              >
                <div class="pointer"></div>
                <span
                  [innerHTML]="getCurrentQuestion().responses[i]"
                  type="text"
                  class="form-control form-control-sm"
                ></span>
              </div>
            </div>
          </div>
        </div>
      </ngx-simplebar>
    </div>

    <!-- Draggable Items -->
    <div class="example-box-container">
      <div
        class="example-box"
        *ngFor="let distractor of []"
        draggable="true"
        (dragstart)="onDragStart($event, distractor.value)"
      >
        {{ distractor }}
      </div>

      <div
        class="example-box"
        *ngFor="let option of getCurrentQuestion().options"
        draggable="true"
        (dragstart)="onDragStart($event, option)"
      >
        <span [innerHTML]="option.label"></span>
      </div>
    </div>
  </div>
</div>
