<app-breadcrumbs
  title="USERS"
  [breadcrumbItems]="breadCrumbItems"
></app-breadcrumbs>

<div
  *ngIf="loading"
  class="d-flex align-items-center justify-content-center"
  style="height: 60vh"
>
  <div class="d-flex align-items-center gap-2">
    <div class="spinner-border text-info fs-18" role="status">
      <span class="visually-hidden">Loading users...</span>
    </div>
    <span class="text-info text-center fs-16 flex-grow-1 ms-2"
      >Loading users...</span
    >
  </div>
</div>

<div *ngIf="!loading">
  <div class="mb-2 align-items-center d-flex">
    <h4 *ngIf="!filtered" class="card-title mb-0 flex-grow-1">
      List of All Users {{ users ? "(" + users.length + ")" : "(" + 0 + ")" }}
    </h4>
    <h4 *ngIf="filtered" class="card-title mb-0 flex-grow-1">
      Filtered Results {{ "(" + filteredUsers.length + ")" }}
    </h4>
    <div class="d-flex gap-2 flex-shrink-0">
      <span
        *ngIf="selectedUsers.length > 0"
        class="badge badge-soft-warning fs-14 uppercase"
        >You have selected
        {{
          selectedUsers.length == users.length ? "all" : selectedUsers.length
        }}
        user(s).
      </span>
      <div
        *ngIf="selectedUsers.length > 0"
        class="btn-group"
        role="group"
        ngbDropdown
      >
        <button
          id="btnGroupDrop1"
          type="button"
          class="btn btn-primary dropdown-toggle arrow-none"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          ngbDropdownToggle
        >
          Bulk Actions<i class="mdi mdi-chevron-down"></i>
        </button>
        <ul
          class="dropdown-menu"
          aria-labelledby="btnGroupDrop1"
          ngbDropdownMenu
        >
          <!-- <li style="cursor: pointer">
            <a class="dropdown-item" (click)="deleteUsers()"
              ><i class="ri-delete-bin-6-line me-2 align-middle"></i>Delete
              Users</a
            >
          </li> -->
          <li style="cursor: pointer">
            <a class="dropdown-item" (click)="bulkActivateDeactivate(true)"
              ><i class="ri-checkbox-circle-line me-2 align-middle"></i>Activate
              Users</a
            >
          </li>
          <li style="cursor: pointer">
            <a class="dropdown-item" (click)="bulkActivateDeactivate(false)"
              ><i class="ri-forbid-fill me-2 align-middle"></i>Deactivate
              Users</a
            >
          </li>
          <li style="cursor: pointer">
            <a class="dropdown-item" (click)="resendVerificationEmail()"
              ><i class="ri-mail-send-fill me-2 align-middle"></i>Resend
              Verification Email
            </a>
          </li>
        </ul>
      </div>

      <ng-container *ngIf="selectedUsers.length < 1">
        <div class="btn-group" role="group" ngbDropdown>
          <button
            id="btnGroupDrop2"
            type="button"
            class="btn btn-primary dropdown-toggle arrow-none"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ngbDropdownToggle
          >
            Create User(s)<i class="mdi mdi-chevron-down"></i>
          </button>
          <ul
            class="dropdown-menu"
            aria-labelledby="btnGroupDrop2"
            ngbDropdownMenu
          >
            <li style="cursor: pointer">
              <a (click)="openNewUserModal(newUserModal)" class="dropdown-item">
                <i class="ri-add-line align-middle me-2"></i> New User
              </a>
            </li>
            <li style="cursor: pointer">
              <a
                class="dropdown-item"
                (click)="openUsersUploadModal(usersUploadModal)"
                ><i class="ri-upload-2-line me-2 align-middle"></i>Upload
                Users</a
              >
            </li>
          </ul>
        </div>
        <button class="btn btn-outline-primary" (click)="downloadUsersFile()">
          <i class="ri-download-line me-2 align-middle"></i>
          Download Users
        </button>
        <button
          class="btn btn-secomdary"
          [ngClass]="{ 'btn-secondary': !showFilter, 'btn-danger': showFilter }"
          (click)="openFilter()"
        >
          <i
            class="me-2 align-middle"
            [ngClass]="{
              'ri-equalizer-fill': !showFilter,
              'ri-close-fill': showFilter
            }"
          ></i>
          {{ showFilter ? "HIDE FILTER" : "FILTER" }}
        </button>
      </ng-container>
    </div>
  </div>

  <!-- Filter Form-->
  <div *ngIf="showFilter" class="card card-animate shadow-lg p-4">
    <form #filterUsersForm="ngForm" (ngSubmit)="filterUsers()">
      <div class="row g-3 mb-2">
        <div class="col-lg-3 col-sm-12">
          <div>
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              name="email"
              placeholder="Enter email address..."
              class="form-control"
              [(ngModel)]="filter.email"
            />
          </div>
        </div>
        <div class="col-lg-3 col-sm-12">
          <div>
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              name="username"
              placeholder="Enter the username..."
              class="form-control"
              [(ngModel)]="filter.username"
            />
          </div>
        </div>
        <div class="col-lg-3 col-sm-12">
          <div>
            <label for="registrationStatus" class="form-label"
              >Registration Status</label
            >
            <select
              class="form-select"
              name="registrationStatus"
              [(ngModel)]="filter.registrationStatus"
            >
              <option
                *ngFor="let regStat of registrationStatus"
                value="{{ regStat }}"
              >
                {{ regStat }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-lg-3 col-sm-12">
          <app-item-topic
            [label]="'Subject'"
            [multiple]="false"
            (sendSubjects)="receiveSubjects($event)"
          ></app-item-topic>
        </div>
        <div class="col-lg-3 col-sm-12">
          <div>
            <label for="role" class="form-label">Role</label>
            <ng-select
              [items]="appRoles$ | async"
              #roleFilterRef="ngModel"
              bindLabel="role"
              bindValue="id"
              name="role"
              [(ngModel)]="filter.role"
              ngModel
            >
            </ng-select>
          </div>
        </div>
        <div class="col-lg-3 col-sm-12">
          <div>
            <label for="status">Active Status</label>
            <select
              class="form-control form-select"
              data-plugin="choices"
              data-choices
              data-choices-search-false
              name="status"
              [(ngModel)]="filter.activeStatus"
            >
              <option *ngFor="let status of accountStatus" value="{{ status }}">
                {{ status }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 d-flex align-items-end">
          <div class="d-flex gap-2">
            <!-- <div class="col-6"> -->
            <button
              class="btn btn-danger"
              type="button"
              (click)="clearFilterInputs()"
            >
              <i class="ri-close-fill me-2 align-middle"></i> Clear Filter
            </button>
            <!-- </div> -->
            <!-- <div class="col-6"> -->
            <button class="btn btn-secondary" type="submit">
              <i class="ri-equalizer-fill me-2 align-middle"></i> Apply Filter
            </button>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- Users table-->
  <div
    class="card card-animate"
    *ngIf="!loading && !filtered && users.length > 0"
  >
    <p-table
      #dt
      [value]="users$ | async"
      dataKey="id"
      styleClass="p-datatable-customers"
      [rowHover]="true"
      [rows]="20"
      [(selection)]="selectedUsers"
      selectionMode="multiple"
      dataKey="id"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[20, 30, 50]"
      responsiveLayout="scroll"
      [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="firstName">
            Fullname<p-sortIcon field="firstName"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="firstname"
              display="menu"
            ></p-columnFilter>
          </th>
          <th pSortableColumn="username">
            Username<p-sortIcon field="username"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="username"
              display="menu"
            ></p-columnFilter>
          </th>
          <th pSortableColumn="email">
            Email<p-sortIcon field="email"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="email"
              display="menu"
            ></p-columnFilter>
          </th>
          <th pSortableColumn="subjects">
            Subjects<!-- <p-sortIcon field="subjects"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="subjects"
              display="menu"
            ></p-columnFilter> -->
          </th>
          <th>Role<p-sortIcon field=""></p-sortIcon></th>
          <th pSortableColumn="activated">
            Status<p-sortIcon field="activated"></p-sortIcon>
          </th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>
            <p-tableCheckbox [value]="user"></p-tableCheckbox>
          </td>
          <td>
            {{ user.firstName | titlecase }} {{ user.lastName | titlecase }}
          </td>
          <td>{{ user.username }}</td>
          <td>
            {{ user.email }}<br /><span
              class="badge text-danger"
              *ngIf="!user.registrationComplete"
              >incomplete registration</span
            >
            <span class="badge text-success" *ngIf="user.registrationComplete"
              >completed registration</span
            >
          </td>
          <td>
            <ng-container *ngIf="user.userSubjectsDTOS.length > 0">
              <div *ngFor="let subject of user.userSubjectsDTOS">
                <span class="">{{ subject.subjectName | titlecase }}</span>
              </div>
            </ng-container>
          </td>
          <td>
            <ng-container *ngFor="let role of user.userRolesDTOList">
              <span class="badge rounded-pill badge-soft-primary">
                {{ role.role }}
                <!-- <div
              #roleDropdown="ngbDropdown"
              (mouseenter)="displayRoles(roleDropdown)"
              (mouseleave)="hideRoles(roleDropdown)"
              class="dropdown"
              ngbDropdown
            >
              <div
                class="dropdown arrow-none"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                ngbDropdownToggle
              >
                {{ user.userRolesDTOList[0].role }}
              </div>
              <ul
                *ngIf="user.userRolesDTOList.length > 1"
                class="dropdown-menu dropdown-menu-end"
                ngbDropdownMenu
              >
                <li *ngFor="let role of user.userRolesDTOList">
                  <a class="dropdown-item">
                    {{ role.role }}
                  </a>
                </li>
              </ul>
            </div> -->
              </span>
            </ng-container>
          </td>
          <td>
            <span
              *ngIf="!user.updatingUserStatus"
              class="badge badge-border"
              [ngClass]="{
                'badge-soft-success': user.activated,
                'badge-soft-danger': !user.activated
              }"
              >{{ user.activated ? "ACTIVE" : "INACTIVE" }}</span
            >
            <span *ngIf="user.updatingUserStatus" class="text-info"
              ><i
                _ngcontent-urx-c230=""
                class="mdi mdi-loading mdi-spin fs-20 align-middle me-2"
              ></i
              >{{ user.activated ? "de-activating..." : "activating..." }}</span
            >
            <!-- <span class="fs-10 spinner-border text-info" role="status">
            <span class="visually-hidden">Loading...</span>
          </span> -->
          </td>
          <td>
            <span>
              <div class="dropdown" ngbDropdown>
                <button
                  class="btn btn-soft-secondary btn-sm dropdown arrow-none"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  ngbDropdownToggle
                >
                  <i class="ri-more-fill"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                  <li style="cursor: pointer">
                    <button
                      [disabled]="!user.registrationComplete"
                      class="dropdown-item"
                      routerLink="/examalpha/users/view/{{ user.id }}"
                    >
                      <i class="ri-eye-fill align-bottom me-2 text-muted"></i>
                      View Account
                    </button>
                  </li>
                  <li style="cursor: pointer">
                    <a
                      class="dropdown-item"
                      routerLink="/examalpha/users/edit/{{ user.id }}"
                      ><i
                        class="ri-pencil-fill align-bottom me-2 text-muted"
                      ></i>
                      Manage Account</a
                    >
                  </li>
                  <li style="cursor: pointer">
                    <button
                      class="dropdown-item"
                      [disabled]="!user.activated"
                      (click)="resendEmailVerification(user.id)"
                    >
                      <i class="ri-mail-send-fill me-2 align-middle"></i> Resend
                      Email Verification
                    </button>
                  </li>
                  <li class="dropdown-divider"></li>
                  <li style="cursor: pointer">
                    <button
                      [disabled]="!user.registrationComplete"
                      class="dropdown-item"
                      (click)="activateUser(user)"
                    >
                      <i
                        class="align-middle me-2 text-muted"
                        [ngClass]="{
                          'ri-forbid-fill': user.activated,
                          'ri-checkbox-circle-fill': !user.activated
                        }"
                      ></i>
                      {{ user.activated ? "De-activate" : "Activate" }}
                    </button>
                  </li>
                </ul>
              </div>
            </span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <!--end row-->

  <div class="" *ngIf="!loading && !filtered && users.length < 1">
    <div class="d-flex flex-column justify-content-between align-items-center">
      <img
        src="assets/images/blank_pages/empty-state.png"
        width="300"
        height="300"
        class=""
      />
      <h4 class="text-secondary fw-bold">No User(s) Found!</h4>
      <a
        (click)="openNewUserModal(newUserModal)"
        class="btn btn-outline-primary"
        ><i class="ri-add-line me-2"></i>Add User</a
      >
    </div>
  </div>
</div>

<!-- Filtered users-->
<div class="card card-animate" *ngIf="!loading && filtered">
  <ng-container *ngIf="!loading && filteredUsers.length > 0">
    <p-table
      #datatable
      [value]="filteredUsers$ | async"
      dataKey="id"
      styleClass="p-datatable-customers"
      [rowHover]="true"
      [rows]="20"
      selectionMode="multiple"
      dataKey="id"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[20, 30, 50]"
      responsiveLayout="scroll"
      [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="firstName">
            Fullname<p-sortIcon field="firstName"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="firstname"
              display="menu"
            ></p-columnFilter>
          </th>
          <th pSortableColumn="username">
            Username<p-sortIcon field="username"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="username"
              display="menu"
            ></p-columnFilter>
          </th>
          <th pSortableColumn="email">
            Email<p-sortIcon field="email"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="email"
              display="menu"
            ></p-columnFilter>
          </th>
          <th pSortableColumn="subjects">
            Subjects<!-- <p-sortIcon field="subjects"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="subjects"
              display="menu"
            ></p-columnFilter> -->
          </th>
          <th>Roles<p-sortIcon field=""></p-sortIcon></th>
          <th pSortableColumn="activated">
            Status<p-sortIcon field="activated"></p-sortIcon>
          </th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>
            <p-tableCheckbox [value]="user"></p-tableCheckbox>
          </td>
          <td>
            {{ user.firstName | titlecase }} {{ user.lastName | titlecase }}
          </td>
          <td>{{ user.username }}</td>
          <td>
            {{ user.email }}
            <span class="badge text-danger" *ngIf="!user.registrationComplete"
              >incomplete registration</span
            >
            <span class="badge text-success" *ngIf="user.registrationComplete"
              >completed registration</span
            >
          </td>
          <td>
            <ng-container *ngIf="user.userSubjectsDTOS.length > 0">
              <div *ngFor="let subject of user.userSubjectsDTOS">
                <span class="">{{ subject.subjectName | titlecase }}</span>
              </div>
            </ng-container>
          </td>
          <td>
            <ng-container *ngFor="let role of user.userRolesDTOList">
              <span class="badge rounded-pill badge-soft-primary">
                {{ role.role }}
              </span>
            </ng-container>
          </td>
          <td>
            <span
              style="cursor: pointer"
              *ngIf="!user.updatingUserStatus"
              class="badge badge-border"
              [ngClass]="{
                'badge-soft-success': user.activated,
                'badge-soft-danger': !user.activated
              }"
              >{{ user.activated ? "ACTIVE" : "INACTIVE" }}</span
            >
            <span *ngIf="user.updatingUserStatus" class="text-info"
              ><i
                _ngcontent-urx-c230=""
                class="mdi mdi-loading mdi-spin fs-20 align-middle me-2"
              ></i
              >{{ user.activated ? "de-activating..." : "activating..." }}</span
            >
            <!-- <span class="fs-10 spinner-border text-info" role="status">
            <span class="visually-hidden">Loading...</span>
          </span> -->
          </td>
          <td>
            <span>
              <div class="dropdown" ngbDropdown>
                <button
                  class="btn btn-soft-secondary btn-sm dropdown arrow-none"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  ngbDropdownToggle
                >
                  <i class="ri-more-fill"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                  <li *ngIf="user.username" style="cursor: pointer">
                    <a
                      class="dropdown-item"
                      routerLink="/examalpha/users/view/{{ user.id }}"
                      ><i class="ri-eye-fill align-bottom me-2 text-muted"></i>
                      View Account
                    </a>
                  </li>
                  <li style="cursor: pointer">
                    <a
                      class="dropdown-item"
                      routerLink="/examalpha/users/edit/{{ user.id }}"
                      ><i
                        class="ri-pencil-fill align-bottom me-2 text-muted"
                      ></i>
                      Manage Account</a
                    >
                  </li>
                  <li class="dropdown-divider"></li>
                  <li style="cursor: pointer">
                    <a class="dropdown-item" (click)="activateUser(user)"
                      ><i
                        class="align-middle me-2 text-muted"
                        [ngClass]="{
                          'ri-forbid-fill': user.activated,
                          'ri-checkbox-circle-fill': !user.activated
                        }"
                      ></i>
                      {{ user.activated ? "De-activate" : "Activate" }}</a
                    >
                  </li>
                </ul>
              </div>
            </span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>
  <div class="" *ngIf="!loading && filteredUsers.length < 1">
    <div class="d-flex flex-column justify-content-between align-items-center">
      <img
        src="assets/images/blank_pages/empty-state.png"
        width="300"
        height="300"
        class=""
      />
      <h4 class="text-secondary fw-bold">No User(s) Found!</h4>
    </div>
  </div>
</div>

<ng-template #newUserModal let-modal>
  <div class="modal-header">
    <h3 class="modal-title">Create New User</h3>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modal.close('Close click'); clearSelectedRoles()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="p-4 modal-body">
    <form
      class="row g-3"
      #userForm="ngForm"
      (ngSubmit)="userForm.valid && createUser(userForm.value)"
    >
      <div class="col-6">
        <label for="firstname" class="form-label"
          >Firstname <span [ngStyle]="{ color: 'red' }">*</span></label
        >
        <input
          type="text"
          name="firstname"
          #firstname="ngModel"
          class="form-control"
          id="firstname"
          placeholder="Enter your First name"
          [class.is-invalid]="firstname.invalid && firstname.touched"
          required
          ngModel
        />
        <span
          *ngIf="firstname.invalid && firstname.touched"
          [ngStyle]="{ color: 'red' }"
          >Firstname is required.</span
        >
      </div>
      <div class="col-6">
        <label for="lastnameInput" class="form-label"
          >Lastname <span [ngStyle]="{ color: 'red' }">*</span></label
        >
        <input
          type="text"
          name="lastname"
          #lastname="ngModel"
          class="form-control"
          id="lastnameInput"
          placeholder="Enter your Lastname"
          [class.is-invalid]="lastname.invalid && lastname.touched"
          required
          ngModel
        />
        <span
          *ngIf="lastname.invalid && lastname.touched"
          [ngStyle]="{ color: 'red' }"
          >Lastname is required.</span
        >
      </div>

      <div class="col-12">
        <label for="email" class="form-label"
          >Email <span [ngStyle]="{ color: 'red' }">*</span></label
        >
        <input
          type="email"
          name="email"
          #emailRef="ngModel"
          class="form-control"
          id="email"
          placeholder="enter email"
          pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          [class.is-invalid]="emailRef.invalid && emailRef.touched"
          required
          ngModel
        />
        <div *ngIf="emailRef.invalid && emailRef.touched">
          <span
            *ngIf="emailRef.errors?.['required']"
            [ngStyle]="{ color: 'red' }"
            >Email is required.</span
          >
          <span
            *ngIf="emailRef.errors?.['pattern']"
            [ngStyle]="{ color: 'red' }"
            >Invalid Email</span
          >
        </div>
      </div>

      <div class="col-6">
        <label for="phone" class="form-label"
          >Phone number <span [ngStyle]="{ color: 'red' }">*</span></label
        >
        <input
          type="text"
          name="phone"
          #phone="ngModel"
          class="form-control"
          id="phone"
          placeholder="enter your phone number"
          [class.is-invalid]="phone.invalid && phone.touched"
          required
          ngModel
        />
        <span
          *ngIf="phone.invalid && phone.touched"
          [ngStyle]="{ color: 'red' }"
          >Please enter phone number.</span
        >
      </div>

      <div class="col-6">
        <div class="d-flex justify-content-between">
          <label for="role" class="form-label"
            >Role <span [ngStyle]="{ color: 'red' }">*</span></label
          >
          <div>
            <i
              style="cursor: pointer"
              class="ri-question-fill text-info"
              placement="top"
              data-bs-container="body"
              data-bs-toggle="popover"
              [ngbPopover]="rolesInfoPopOver"
              triggers="mouseenter:mouseleave"
              popoverClass="popOverClass"
            ></i>

            <ng-template #rolesInfoPopOver>
              <ul>
                <li>
                  <span class="fs-10"
                    >ADMIN: <span class="fs-10"> Has all privileges</span></span
                  >
                </li>
                <li>
                  <span class="fs-10"
                    >ANALYTICS:<span class="">
                      Has ability to process and analyze data from reports and
                      results</span
                    ></span
                  >
                </li>
                <li>
                  <span class="fs-10"
                    >AUTHOR:<span class="">
                      Has ability to create and edit question on assigned
                      subjects</span
                    ></span
                  >
                </li>
                <li>
                  <span class="fs-10"
                    >CENTER_ADMIN:<span class="">
                      Has ability to manage a center and deliver an exam
                    </span></span
                  >
                </li>
                <li>
                  <span class="fs-10"
                    >MARKER:<span class="">
                      Has ability to mark theory questions on assigned
                      subjects</span
                    ></span
                  >
                </li>
                <li>
                  <span class="fs-10"
                    >MODERATOR:<span class="fs-10">
                      Has ability to validate questions by either approving or
                      rejecting</span
                    ></span
                  >
                </li>
                <li>
                  <span class="fs-10"
                    >MONITOR:<span class="fw-small">
                      Has ability to track the progress of an ongoing exam</span
                    ></span
                  >
                </li>
              </ul>
            </ng-template>
          </div>
        </div>
        <ng-select
          [items]="appRoles$ | async"
          #roleRef="ngModel"
          bindLabel="role"
          name="role"
          [(ngModel)]="role"
          ngModel
        >
        </ng-select>
      </div>
      <div
        class="col-12"
        *ngIf="
          role.role == 'AUTHOR' ||
          role.role == 'MODERATOR' ||
          role.role == 'MARKER'
        "
      >
        <div class="mb-3">
          <app-item-topic
            [label]="'Subject'"
            (sendSubjects)="receiveSubjects($event)"
          ></app-item-topic>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <div class="d-flex gap-2 justify-content-end">
      <button
        type="button"
        class="btn btn-outline-danger"
        data-bs-dismiss="modal"
        (click)="modal.close('Close click'); clearSelectedRoles()"
      >
        <i class="ri-close-line me-2 align-middle"></i>Close
      </button>

      <button
        *ngIf="!submitted"
        type="button"
        (click)="createUser(userForm.value)"
        class="btn btn-primary"
        [disabled]="userForm.invalid"
      >
        Create User
      </button>

      <button
        *ngIf="submitted"
        class="btn btn-outline-primary btn-load"
        [disabled]="submitted"
      >
        <span class="d-flex align-items-center">
          <span class="spinner-border flex-shrink-0" role="status">
            <span class="visually-hidden">Saving...</span>
          </span>
          <span class="flex-grow-1 ms-2"> Saving...</span>
        </span>
      </button>
    </div>
  </div>
</ng-template>

<ng-template #usersUploadModal let-modal>
  <div class="modal-header">
    <h3 class="modal-title">UPLOAD USERS</h3>
    <div class="d-flex gap-2">
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="modal.close('Close click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="modal-body px-5">
    <form #uploadUsersForm="ngForm" (ngSubmit)="uploadForm()">
      <div class="row align-items-center g-3">
        <div class="col-lg-12">
          <div>
            <label for="formFile" class="form-label">Select File</label>
            <input
              class="form-control"
              name="file"
              type="file"
              id="formFile"
              accept=".csv, application/vnd.ms-excel"
              (change)="onFileSelected($event)"
            />
          </div>
        </div>
        <!--end col-->
      </div>
    </form>
  </div>
  <div class="card-footer">
    <div class="d-flex align-items-center justify-content-between flex-wrap">
      <button
        class="btn btn-sm btn-outline-primary"
        (click)="downloadUsersTemplateFile()"
      >
        download template
      </button>
      <div class="d-flex align-items-center gap-2">
        <button
          type="button"
          class="btn btn-outline-danger"
          data-bs-dismiss="modal"
          (click)="modal.close('Close click')"
        >
          <i class="ri-close-line me-2 align-middle"></i>Close
        </button>

        <button
          *ngIf="!submitted"
          type="button"
          (click)="uploadForm()"
          class="btn btn-primary"
          [disabled]="uploadUsersForm.invalid"
        >
          Upload Users
        </button>

        <button
          *ngIf="submitted"
          class="btn btn-outline-primary btn-load"
          [disabled]="submitted"
        >
          <span class="d-flex align-items-center">
            <span class="spinner-border flex-shrink-0" role="status">
              <span class="visually-hidden">Uploading...</span>
            </span>
            <span class="flex-grow-1 ms-2"> Uploading... </span>
          </span>
        </button>
      </div>
    </div>
  </div>
</ng-template>

<app-rightsidebar
  [currentView]="'Users'"
  [pageGuide]="quickGuide"
  (settingsButtonClicked)="onSettingsButtonClicked()"
></app-rightsidebar>
