<div *ngIf="true" class="dashboard-container">

  <div *ngIf="!examsForTheDay" class="d-flex justify-content-center align-items-center" style="height: 40vh;">
    <div class="spinner-border text-success" role="status"></div>
  </div>

  <div *ngIf="examsForTheDay">

    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex justify-content-between align-items-center mb-3 flex-grow-1">
        <!-- premium-card-title -->
        <span class="mb-0 fs-5 fw-semibold text-gray-800 text-uppercase">exam for the day</span>
      </div>
    </div>

    <!-- Data Table -->
    <div class="row g-3">
      <div class="col-sm-12 col-lg-8">
        <div class="premium-card p-0 overflow-hidden">
          <div
            class="p-4 border-bottom border-light border border-primary d-flex justify-content-between align-item-center">
            <h5 class="mb-0">Today's Exams Breakdown</h5>
            <select class="filter-select" [(ngModel)]="selectedDeliveryMethod" (change)="onDeliveryMethodChange();"
              [disabled]="currentUser.authorities.includes('PROCTOR_ADMIN')">
              <option value="">All Methods</option>
              <option value="COMPUTER_BASED">COMPUTER BASED</option>
              <option value="PAPER_BASED">PAPER BASED</option>
              <option value="LIVE_PROCTORING">LIVE PROCTORING</option>
            </select>
          </div>
          <div class="table-responsive overflow-auto" style="max-height: 320px;">
            <table class="table modern-table table-borderless table-nowrap mb-0 w-100">
              <thead class="bg-light">
                <tr>
                  <th style="text-align: center;">Exam Name</th>
                  <th style="text-align: center;">Method</th>
                  <th style="text-align: center;">Total Center(s) <br /> (Dow. Exam/Uploaded Exam/Dow. Passport)</th>
                  <th style="text-align: center;">Participant(s) <br /> (Online/Present/Absent) </th>
                  <th style="text-align: center;">Total Centers </th>
                  <th style="text-align: center;">Total Participants </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ex of examsForTheDay?.content">
                  <td>
                    <div class="d-flex justify-content-center items-center">
                      <div>{{ ex.exam_name }}</div>

                    </div>
                  </td>
                  <td>
                    <div class="d-flex justify-content-center items-center">

                      <span class="badge bg-light text-dark px-3 py-2 rounded-pill">{{
                        ex.delivery_method?.replaceAll('_', ' ') }}</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex justify-content-center items-center">

                      <div class="avatar-group">
                        <a href="javascript: void(0);" class="avatar-group-item" data-bs-toggle="tooltip"
                          data-bs-trigger="hover" data-bs-placement="top"
                          data-bs-original-title="total center uploaded exam" placement="top"
                          ngbTooltip="downloaded exam">
                          <div class="avatar-xs">
                            <div class="avatar-title rounded-circle bg-success">
                              {{ ex.total_centers_downloaded_exam }}
                            </div>
                          </div>
                        </a>
                        <a href="javascript: void(0);" class="avatar-group-item" data-bs-toggle="tooltip"
                          data-bs-trigger="hover" data-bs-placement="top"
                          data-bs-original-title="total center uploaded exam" placement="top"
                          ngbTooltip="uploaded exam">
                          <div class="avatar-xs">
                            <div class="avatar-title rounded-circle bg-info">
                              {{ ex.total_centers_uploaded_exam }}
                            </div>
                          </div>
                        </a>
                        <a href="javascript: void(0);" class="avatar-group-item" data-bs-toggle="tooltip"
                          data-bs-trigger="hover" data-bs-placement="top"
                          data-bs-original-title="total center downloaded passport" placement="top"
                          ngbTooltip="downloaded passport">
                          <div class="avatar-xs">
                            <div class="avatar-title rounded-circle bg-primary">
                              {{ ex.total_centers_downloaded_passport }}
                            </div>
                          </div>
                        </a>
                      </div>

                    </div>
                  </td>
                  <td>
                    <div class="d-flex justify-content-center items-center">

                      <div class="avatar-group d-flex justify-contents-center items-center">
                        <a href="javascript: void(0);" class="avatar-group-item" data-bs-toggle="tooltip"
                          data-bs-trigger="hover" data-bs-placement="top"
                          data-bs-original-title="total participant online" placement="top" ngbTooltip="online">
                          <div class="avatar-xs">
                            <div class="avatar-title rounded-circle bg-success">
                              {{ ex.total_participants_online }}
                            </div>
                          </div>
                        </a>
                        <a href="javascript: void(0);" class="avatar-group-item" data-bs-toggle="tooltip"
                          data-bs-trigger="hover" data-bs-placement="top"
                          data-bs-original-title="total center participant present" placement="top"
                          ngbTooltip="present">
                          <div class="avatar-xs">
                            <div class="avatar-title rounded-circle bg-info">
                              {{ ex.total_participants_present }}
                            </div>
                          </div>
                        </a>
                        <a href="javascript: void(0);" class="avatar-group-item" data-bs-toggle="tooltip"
                          data-bs-trigger="hover" data-bs-placement="top"
                          data-bs-original-title="total participant absent" placement="top" ngbTooltip="absent">
                          <div class="avatar-xs">
                            <div class="avatar-title rounded-circle bg-danger">
                              {{ ex.total_participants_absent }}
                            </div>
                          </div>
                        </a>
                      </div>

                    </div>
                  </td>
                  <td>
                    <div class="d-flex justify-content-center items-center">
                      {{ ex.total_centers }}
                    </div>
                  </td>
                  <td>
                    <div class="d-flex justify-content-center items-center">
                      {{ ex.total_participants }}
                    </div>
                  </td>
                </tr>
                <tr *ngIf="examsForTheDay?.content?.length === 0">
                  <td colspan="6" class="text-center py-4 text-muted">No exams scheduled for today.</td>
                </tr>
              </tbody>

            </table>

          </div>

          <div class="d-flex justify-content-end align-item-center">
            <p-paginator *ngIf="examsForTheDay && examsForTheDay.content.length > 0"
              [totalRecords]="examsForTheDay.total" (onPageChange)="itemsExamPageChange($event)" [first]="0"
              [rowsPerPageOptions]="[20, 40, 60, 80, 100, 120, 140, 160, 180, 200]" [rows]="20"
              [showCurrentPageReport]="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
            </p-paginator>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-lg-4">
        <div class="row overflow-auto" style="max-height: 500px;">

          <div class="col-xl-12">
            <div class="card">
              <div class="card-body">
                <div class="d-flex">

                  <div class="flex-grow-1">
                    <div class="d-flex">
                      <div class="flex-grow-1">
                        <h5 class="mb-1 card-title">Exam Overview</h5>
                      </div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-4">
                        <div class="border p-2 rounded border-dashed">
                          <p class="text-muted text-truncate mb-2">Total Exams</p>
                          <h5 class="mb-0">{{examsForTheDay.total | number}}</h5>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="border p-2 rounded border-dashed">
                          <p class="text-muted text-truncate mb-2">Passport Downloaded</p>
                          <h5 class="mb-0">{{examsForTheDay.day_total_centers_downloaded_passport | number}}</h5>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="border p-2 rounded border-dashed">
                          <p class="text-muted text-truncate mb-2">Currently Online</p>
                          <h5 class="mb-0">{{examsForTheDay.total_candidates_online | number}}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end col-->

          <div class="col-xl-12">
            <div class="card">
              <div class="card-body">
                <div class="d-flex">

                  <div class="flex-grow-1">
                    <div class="d-flex">
                      <div class="flex-grow-1">
                        <h5 class="mb-1 card-title">Candidate Attandance</h5>
                      </div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-4">
                        <div class="border p-2 rounded border-dashed">
                          <p class="text-muted text-truncate mb-2">Sched. Candidates</p>
                          <h5 class="mb-0">{{examsForTheDay.total_candidates_scheduled | number}}</h5>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="border p-2 rounded border-dashed">
                          <p class="text-muted text-truncate mb-2">Present</p>
                          <h5 class="mb-0">{{examsForTheDay.total_candidates_present | number}}</h5>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="border p-2 rounded border-dashed">
                          <p class="text-muted text-truncate mb-2">Abscent</p>
                          <h5 class="mb-0">{{examsForTheDay.total_candidates_absent | number}}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end col-->

          <div class="col-xl-12">
            <div class="card">
              <div class="card-body">
                <div class="d-flex">

                  <div class="flex-grow-1">
                    <div class="d-flex">
                      <div class="flex-grow-1">
                        <h5 class="mb-1 card-title">Center Synchronization (Today)</h5>
                      </div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-4">
                        <div class="border p-2 rounded border-dashed">
                          <p class="text-muted text-truncate mb-2">Total Centers</p>
                          <h5 class="mb-0">{{examsForTheDay.day_total_centers | number}}</h5>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="border p-2 rounded border-dashed">
                          <p class="text-muted text-truncate mb-2">Downloaded Centers</p>
                          <h5 class="mb-0">{{examsForTheDay.day_total_centers_downloaded | number}}</h5>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="border p-2 rounded border-dashed">
                          <p class="text-muted text-truncate mb-2">Uploaded centers</p>
                          <h5 class="mb-0">{{examsForTheDay.day_total_centers_uploaded | number}}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end col-->

        </div>
      </div>

    </div>

    <!-- <div class="card-footer mt-4 d-flex justify-content-end">
      <p-paginator  *ngIf="examsForTheDay && examsForTheDay.content.length > 0" [totalRecords]="examsForTheDay.total" (onPageChange)="itemsExamPageChange($event)" [first]="0"
        [rowsPerPageOptions]="[20, 40, 60, 80, 100, 120, 140, 160, 180, 200]" [rows]="20" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
      </p-paginator>
    </div> -->

  </div>
</div>