<div class="container">
    <div class="d-flex flex-row align-items-center justify-content-between my-3">
        <span>
            <select #selectSection  class="form-select form-select-sm" (change)="getCandidateDataForSection(assessmentId, selectSection.value)">
                <option *ngFor="let section of sections" [value]="section.id">
                    {{ section.name }}
                </option>
            </select>
        </span>
        <!-- <span class="fs-6 fw-bold" *ngIf="currentSectionData">Questions Preview: {{ currentSectionData.blocks[0].items.length }} </span> -->
    </div>


    <div *ngIf="currentSectionData">

        <!-- <div *ngFor="let item of currentSectionData.blocks[0].items; let i = index">
            <mcq *ngIf="item.itemType == 'MCQ'" [currentQuestion]="item" [currentQuestionNumber]="i + 1"></mcq>
        </div> -->

        <!-- block loop -->
        <ng-container *ngFor="let block of currentSectionData.blocks;let i=index">
            <!-- passage block type -->
            <ng-container *ngIf="block.blockType === 'PASSAGES'">
                <div class="fs-6 fw-bold">Question: {{ i + 1 }}</div>

                <!-- passage block item -->
                <ng-container *ngFor="let passageBlockItem of block.passages">

                    <!-- passage stimulus -->
                    <div class="mb-2 text-black" style="font-size: 0.895em" [innerHTML]="passageBlockItem.stimulus"></div>

                    <!-- passage block item questiontypes -->
                    <ng-container *ngFor="let itemOfPassage of passageBlockItem.items; let y = index">
                        <!-- question item type -->
                         <div class="fs-6 fw-bold">Question {{ i + 1 }} Passage | Question: {{ y + 1 }}</div>
                         <mcq 
                         *ngIf="itemOfPassage.itemType == 'MCQ'" 
                         [currentQuestion]="itemOfPassage"
                         [blockType]="block.blockType"
                         ></mcq>
                    </ng-container>

                </ng-container>

            </ng-container>

            <ng-container *ngIf="block.blockType === 'SINGLE_QUESTIONS'">
                <ng-container *ngFor="let singleItem of block.items; let y = index">
                    <!-- question item type -->
                    <ng-container *ngIf="singleItem.itemType == 'MCQ'" >
                        <mcq [currentQuestion]="singleItem" [currentQuestionNumber]="i + y+ 1"></mcq>
                    </ng-container>

                </ng-container>
            </ng-container>

        </ng-container>
    </div>
</div>