<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="d-flex justify-content-between" *ngIf="showAppAssets">
        <span class="text-black fs-12"><img src="/assets/logo/EXPryLogoHor.png" alt="" height="16" /> &COPY; {{ year }}</span>
        
        <span class="d-flex fs-12 text-black">
          <!-- <div class="col-sm-6"> -->Powered by Multilent.<!-- </div> -->
          <!-- <div class="col-sm-6"> -->
          <!-- <span class="text-sm-end d-none d-sm-block">
            Powered by Multilent.
          </span> -->
          <!-- </div> -->
        </span>
      </div>
    </div>
  </div>
</footer>
