<app-breadcrumbs *ngIf="!showNotifications" title="SUBJECTS" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div *ngIf="loading" class="d-flex align-items-center justify-content-center" style="height: 60vh">
  <div class="d-flex align-items-center gap-2">
    <div class="spinner-border text-info fs-18" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <span class="text-info text-center fs-16 flex-grow-1 ms-2">Loading subjects...</span>
  </div>
</div>

<div *ngIf="!loading">
  <div class="row mb-3 pb-1">
    <div class="col-12">
      <div class="d-flex align-items-lg-center flex-lg-row flex-sm-row justify-content-between flex-column">
        <div class="flex-grow-1">
          <h4 class="fs-16 mb-1">
            List of all Subjects ({{ allSubjects.length }})
          </h4>
        </div>
        <div class="d-flex gap-2 mt-lg-0">
          <div class="search-box ms-2">
            <input type="text" name="searchTerm" class="form-control" placeholder="Search Name..."
              [(ngModel)]="searchSubject" (ngModelChange)="filterSubjects()" />
            <i class="ri-search-line search-icon"></i>
          </div>

          <button *ngIf="currentUser.authorities.includes('ADMIN')" type="button"
            (click)="addSubjectModal(newSubjectModal)" class="btn btn-primary float-end">
            <i class="ri-add-line align-middle me-1"></i> Create Subject
          </button>
          <button *ngIf="currentUser.authorities.includes('ADMIN')" type="button"
            (click)="addSubjectModal(importSubjectModal)" class="btn btn-primary float-end">
            <i class="ri-add-line align-middle me-1"></i> Import Subjects
          </button>

          <!-- <app-rightsidebar
            [currentView]="'Subjects'"
            (settingsButtonClicked)="onSettingsButtonClicked()"
          ></app-rightsidebar> -->
          
        </div>
      </div>
      <!-- end card header -->
    </div>
    <!--end col-->
  </div>
  <!--end row-->
</div>

<div *ngIf="allSubjects.length > 0 && !loading">
  <div class="row">
    <div class="col-xxl-4 col-lg-6 col-md-6 col-sm-6" *ngFor="let subject of allSubjects">
      <div class="card">
        <div class="card-body p-2">
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0 me-3">
              <div class="avatar-sm">
                <!-- <a
                (click)="setSubjectId(subject)"
                routerLink="/examalpha/subjects/{{ subject.name }}"
                > -->
                <div class="avatar-title bg-primary text-white rounded fs-24" style="cursor: pointer">
                  <!-- <i class="ri-folder-zip-line"></i> -->
                  {{ subject.name[0].toUpperCase() }}
                </div>
                <!-- </a> -->
              </div>
            </div>
            <div class="flex-grow-1 overflow-hidden">
              <h5 class="fs-16 mb-1">
                <div (click)="setSubjectId(subject)" class="text-body text-truncate d-block" style="cursor: pointer">
                  {{ subject.name.toUpperCase() }}
                  <span *ngIf="subject.subjectCode" class="text-muted fs-12 text-capitalize">({{ subject.subjectCode
                    }})</span>
                </div>
              </h5>
              <div class="d-flex gap-1 align-items-center mt-2">
                <a class="text-primary d-flex flex-row gap-1" (click)="gotoPassages(subject)" style="cursor: pointer"><i
                    class="ri-article-line me-2 "></i>Passages:<span title="TOTAL PASSAGES"
                    class="d-flex gap-1 align-items-center">{{ subject.totalPassages }}</span></a>
                <a class="text-primary d-flex flex-row gap-1" style="cursor: pointer" (click)="setSubjectId(subject)"
                  routerLink="/examalpha/subjects/{{ subject.subjectId }}"><i class="ri-stack-line"></i> Questions:<span
                    title="TOTAL QUESTIONS" class="d-flex gap-1 align-items-center">{{ subject.totalItems }}</span></a>
                <a style="cursor: pointer" class="" [ngbPopover]="subjectDetails" placement="right"
                  [popoverTitle]="subject.name | uppercase" triggers="mouseenter:mouseleave"><i
                    class="ri-information-line fs-5 text-secondary"></i></a>
                <ng-template #subjectDetails>
                  <ul style="
                      display: flex;
                      flex-direction: column;
                      list-style: none;
                      line-height: 1.5;
                      gap: 3px;
                    ">
                    <li>
                      <span class="badge bg-primary">{{
                        subject.totalItems
                        }}</span>
                      Total Questions
                    </li>
                    <li>
                      <span class="badge bg-secondary">{{
                        subject.totalUsed
                        }}</span>
                      Total Used Questions
                    </li>
                    <li>
                      <span class="badge bg-info">{{
                        subject.awaitingModeration
                        }}</span>
                      Total Awaiting Moderation
                    </li>
                    <li>
                      <span class="badge bg-warning">{{
                        subject.totalDrafts
                        }}</span>
                      Total Draft Questions
                    </li>
                    <li>
                      <span class="badge bg-success">{{
                        subject.totalPublished
                        }}</span>
                      Total Published Questions
                    </li>
                    <li>
                      <span class="badge bg-danger">{{
                        subject.inRecycle
                        }}</span>
                      Total Questions in Recycle
                    </li>
                    <li>
                      <span class="badge bg-warning">{{
                        subject.totalPassagesDraft
                        }}</span>
                      Total Draft Passages
                    </li>
                    <li>
                      <span class="badge bg-warning">{{
                        subject.totalPassagesAwaitingModeration
                        }}</span>
                      Total Passages Awaiting Moderation
                    </li>
                    <li>
                      <span class="badge bg-success">{{
                        subject.totalPassagesPublished
                        }}</span>
                      Total Published Passages
                    </li>
                  </ul>
                </ng-template>
              </div>
            </div>
            <div class="flex-shrink-0 ms-2">
              <div class="d-flex gap-1">
                <div class="dropdown" ngbDropdown>
                  <button class="btn btn-icon text-muted btn-sm fs-18 dropdown arrow-none" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                    <i class="ri-more-fill" style="cursor: pointer"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                    <li *ngIf="subject.moderationId" style="cursor: pointer">
                      <a class="dropdown-item" (click)="showApprovedQuestions(subject)"><i
                          class="bx bx-list-check fs-20 align-bottom me-2 text-muted"></i>
                        List Accepted Questions</a>
                    </li>
                    <li *ngIf="subject.moderationId">
                      <a class="dropdown-item" (click)="showRejectedQuestions(subject)"><i
                          class="bx bx-list-check fs-20 align-bottom me-2 text-muted"></i>
                        List Rejected Questions</a>
                    </li>
                    <li style="cursor: pointer">
                      <a class="dropdown-item" (click)="setSubjectId(subject)"
                        routerLink="/examalpha/subjects/{{ subject.subjectId }}"><i
                          class="ri-stack-fill align-bottom me-2 text-muted"></i>
                        Manage Questions</a>
                    </li>
                    <li style="cursor: pointer">
                      <a class="dropdown-item" (click)="gotoPassages(subject)"><i
                          class="ri-article-fill align-bottom me-2 text-muted"></i>
                        Manage Passages</a>
                    </li>
                    <li *ngIf="currentUser.authorities.includes('ADMIN')" style="cursor: pointer">
                      <a class="dropdown-item" (click)="gotoSubjectAnalysis(subject)"><i
                          class="ri-bar-chart-box-fill align-bottom me-2 text-muted"></i>
                        Subject Analysis</a>
                    </li>
                    <li *ngIf="currentUser.authorities.includes('ADMIN')" style="cursor: pointer">
                      <a class="dropdown-item" (click)="renameSubjectModal(editSubjectModal, subject)"><i
                          class="ri-pencil-fill align-bottom me-2 text-muted"></i>
                        Rename Subject</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end card-->
    </div>

    <!-- <p-paginator
    [totalRecords]="allSubjects.length"
    (onPageChange)="onSubjectPageChange($event)"
    [first]="1"
    [rowsPerPageOptions]="[5, 10, 15]"
    [rows]="5"
    [pageLinkSize]="5"
    [showCurrentPageReport]="true"
  >
  </p-paginator> -->
  </div>
</div>

<div *ngIf="allSubjects.length === 0 && !loading">
  <div class="d-flex flex-column justify-content-between align-items-center">
    <img src="assets/images/blank_pages/empty-state.png" width="200" height="200" class="my-2" />
    <h4 class="text-secondary fw-bold">No Subject(s) Found!</h4>
  </div>
</div>

<ng-template #newSubjectModal let-modal>
  <div class="modal-body p-5">
    <form #newSubjectForm="ngForm" (ngSubmit)="addSubject(newSubjectForm)" novalidate>
      <div>
        <h4 class="text-center">CREATE NEW SUBJECT</h4>
        <div class="mt-4">
          <label for="subjectName" class="label">Subject Name</label>
          <input type="text" name="subjectName" class="form-control mb-3" placeholder="Subject" required
            [(ngModel)]="newSubject.name" />
        </div>

        <div class="mt-4">
          <label for="subjectName" class="label">Subject Code</label>
          <input type="text" name="subjectCode" class="form-control mb-3" placeholder="Subject Code" required
            [(ngModel)]="newSubject.subjectCode" />
        </div>

        <div class="hstack gap-2 justify-content-end">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
            (click)="modal.close('Close click'); newSubjectForm.reset()">
            <i class="ri-close-line me-2 align-middle"></i>Close
          </button>
          <button type="submit" *ngIf="!submitted" [disabled]="!newSubject.name" class="btn btn-primary"
            data-bs-dismiss="modal">
            <i class="ri-save-line me-2 align-middle"></i>Save
          </button>
          <ng-template [ngIf]="submitted">
            <button class="btn btn-outline-primary btn-load" [disabled]="!submitted">
              <span class="d-flex align-items-center">
                <span class="spinner-border flex-shrink-0" role="status">
                  <span class="visually-hidden">Saving...</span>
                </span>
                <span class="flex-grow-1 ms-2"> Saving... </span>
              </span>
            </button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<!-- <ng-template #newTopicModal let-modal>
  <div class="modal-body p-5">
    <form #newTopicForm="ngForm" (ngSubmit)="addTopic(newTopicForm)" novalidate>
      <div>
        <h4 class="text-center">Add a new topic</h4>
        <p class="text-muted text-center">
          {{ currentSubject.name.toUpperCase() }}
        </p>
        <div class="mt-4">
          <label for="subjectName" class="label">Topic Name</label>
          <input
            type="text"
            name="topicName"
            class="form-control mb-3"
            placeholder="Topic"
            required
            [(ngModel)]="newTopic.name"
          />
        </div>

        <div class="hstack gap-2 justify-content-end">
          <button
            type="button"
            class="btn btn-outline-danger d-flex gap-1 align-items-center"
            data-bs-dismiss="modal"
            (click)="modal.close('Close click')"
          >
            <i class="ri-close-line"></i>Close
          </button>
          <button
            *ngIf="!submitted"
            type="submit"
            class="btn btn-primary d-flex gap-1 align-items-center"
            data-bs-dismiss="modal"
          >
            <i class="ri-save-line"></i>Save
          </button>
          <ng-template [ngIf]="submitted">
            <button
              class="btn btn-outline-primary btn-load"
              [disabled]="!submitted"
            >
              <span class="d-flex align-items-center">
                <span class="spinner-border flex-shrink-0" role="status">
                  <span class="visually-hidden">Saving...</span>
                </span>
                <span class="flex-grow-1 ms-2"> Saving... </span>
              </span>
            </button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</ng-template> -->

<ng-template #editSubjectModal let-modal>
  <div class="modal-body p-5">
    <form #editSubjectForm="ngForm" (ngSubmit)="renameSubject(editSubjectForm)" novalidate>
      <div>
        <h4 class="text-center">RENAME SUBJECT</h4>
        <p class="text-muted text-center">
          {{ currentSubject.name.toUpperCase() }}
        </p>
        <div class="mt-4">
          <label for="subjectName" class="label">Subject Name</label>
          <input type="text" name="subjectName" class="form-control mb-3" placeholder="Subject" required
            [ngModel]="editSubject.name.toUpperCase()" (ngModelChange)="editSubject.name = $event.toUpperCase()" />
        </div>

        <div class="mt-4">
          <label for="subjectName" class="label">Subject Code</label>
          <input type="text" name="subjectCode" class="form-control mb-3" placeholder="Subject Code" required
            [ngModel]="editSubject.subjectCode" (ngModelChange)="editSubject.subjectCode = $event.toUpperCase()" />
        </div>

        <div class="hstack gap-2 justify-content-end">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="modal.close('Close click')">
            <i class="ri-close-line me-2 align-middle"></i>Close
          </button>
          <button *ngIf="!submitted" [disabled]="editSubjectForm.invalid" type="submit" class="btn btn-primary" data-bs-dismiss="modal">
            <i class="ri-save-line me-2 align-middle"></i>Save
          </button>
          <button *ngIf="submitted"  class="btn btn-outline-primary btn-load" disabled>
            <span class="d-flex align-items-center">
              <span class="spinner-border flex-shrink-0" role="status">
                <span class="visually-hidden">Saving...</span>
              </span>
              <span class="flex-grow-1 ms-2"> Saving... </span>
            </span>
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<!-- IMPORT SUBJECT MODAL -->
<ng-template #importSubjectModal role="document" let-modal>
  <div class="card">
    <h5 class="card-header">Import Subjects</h5>
    <div class="card-body">
      <form action="javascript:void(0);">
        <div class="row">
          <div class="mb-4">
            <!-- <h5 class="fs-14 mb-1">Subject File upload</h5> -->
            <p class="text-muted">Add subjects File.</p>
            <input
              #subjectsFile
              class="form-control"
              id="subject-image-input"
              type="file"
              accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
            />
          </div>

          <div class="col-lg-12">
            <div class="hstack gap-2 justify-content-end">
              <button
                [disabled]="!subjectsFile.files.length"
                (click)="uploadSubjects(subjectsFile)"
                type="submit"
                class="btn btn-primary">
                Import Subject
              </button>
              <button
                (click)="modal.close('Close click')"
                type="button"
                class="btn btn-soft-danger">
                Cancel
              </button>
            </div>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </form>
    </div>
  </div>
</ng-template>


<app-rightsidebar [currentView]="'Subjects'" [pageGuide]="quickGuide"
  (settingsButtonClicked)="onSettingsButtonClicked()"></app-rightsidebar>