<div class="d-flex justify-content-center align-items-center my-4 px-5 py-2">
  <div style="background-color: #f4f4f4" class="w-100 h-100 p-5 rounded d-flex flex-column align-items-center">
    <div class="mb-5">
      <img src="assets/logo/EXPryLogoHor.png" alt="logo" width="200"/>
    </div>
    <div class="d-flex align-items-center justify-content-center my-5 p-3">
      <img
        src="assets/logo/account_creation_vector_success.png"
        alt=""
        height="125"
        width="257"
      />
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <h3 style="color: #049db7" class="modal-title text-center fw-bold">
        Congratulations account sign up completed!
      </h3>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <button
        class="btn w-100 my-4"
        (click)="toLogin()"
        style="
          min-width: 300px;
          background-color: #049db7;
          color: #fff;
          font-weight: bold;
          font-size: large;
        "
      >
        Sign in
      </button>
    </div>
  </div>
</div>
